{% extends "pmo2016/base.html" %}
{% load staticfiles %}
{% block subtitle %}奖品一览 - 基本信息{% endblock %}
{% block stitle %}title-prize{% endblock %}
{% block content %}
    <h4 id="prize-battle">联机对战</h4>
    <p>参与奖*116</p>
    <p>三四名奖*2</p>
    <p></p>
    <p>亚军奖*1</p>
    <p></p>
    <p>冠军奖*1</p>
    <p></p>
    <h4 id="prize-stage">小游戏（以下数量暂定）</h4>
    <p>参与奖*300</p>
    <p></p>
    <p>第三名*1</p>
    <p></p>
    <p>第二名*1</p>
    <p></p>
    <p>第一名*1</p>
    <p></p>
    <h4 id="prize-raffle">幸运抽奖</h4>
    <p>幸运奖*1</p>
    <p></p>
{% endblock %}
