{% extends "pmo2016/base.html" %}
{% load staticfiles %}
{% block subtitle %}票务信息 - 基本信息{% endblock %}
{% block stitle %}title-ticket{% endblock %}
{% block content %}
    <h3>普通游客入场票</h3>
    <p>【预售】40r/人 【现场】60r/人（对战报名费5r/人）</p>
    <p>*场刊由工作人员在入口处按进场顺序一人一本派发，发完为止。</p>
    <h3>购买方式</h3>
    <p>【预售】5月21日晚20:00起 至7月1日晚23:59</p>
    <p><a href="https://item.taobao.com/item.htm?id=531998611190" class="maintext-href">
        PMO官方淘宝店-魔都PMO2016入场票
    </a></p>
    <p>魔都月赛及妖气屋PM线下聚会现场</p>
    <p>详情请关注官博
        <a href="http://weibo.com/SHPMO" class="maintext-href">@魔都PMO2016_相连</a>
        动态以及
        <a href="http://weibo.com/pmtour" class="maintext-href">@魔都精灵宝可梦月赛娘</a>
        <a href="http://weibo.com/wayacafe" class="maintext-href">@妖气屋</a>
    </p>
    <p>【现场】2016.7.16 早8:30起 会场入口处贩售</p>
    <h4>备注</h4>
    <p>持有入场票证书的游客可以反复进出场（或将敲手章之类进行出入辨识）</p>
{% endblock %}
