*.pyc
*.swp
/db.sqlite3
/msite/settings.py
/data/secret_key.txt
/data/secret_email.txt
/.idea/
/__pycache__/
/media/
/log/

/static
!/static/css/
!/static/images/
!/static/js/

/uwsgi_pmo.xml
/env/
/venv/

*.bak
/pmo2018/
