{% extends "pmo2016/base.html" %}
{% load staticfiles %}
{% block more_heads %}<script type="text/javascript" src="{% static 'pmo2016/js/switch.js' %}"></script>{% endblock %}
{% block subtitle %}常见Q&A - QA留言板{% endblock %}
{% block stitle %}faq-manner{% endblock %}
{% block content %}
    <h2>同人志即卖会礼仪与建议</h2>
    <div id="content-seller" class="nodisplay-object content-page">
        <h3>【售卖方】</h3>
        <ul class="content-list">
            <li>
                <span><strong>礼仪一：请不要大声叫卖</strong></span>
                <br>
                <span>既然是在卖东西，想办法吸引读者注意是很正常。 不过在会场叫卖是绝对禁止的行为，会场是个密闭空间，跟夜市不同，声音会回荡， 造成的困扰自然不在话下。也不要站在桌子椅子上，因为你一摔下来倒霉的都是其他人。</span>
            </li>
            <li>
                <span><strong>礼仪二：请不要一直跟朋友聊天</strong></span>
                <br>
                <span>位置不大的摊位，可能光是你朋友就挡住後面所有的读者了，而且也会造成其他摊位困扰，既然是朋友就应该好好说明，不必害怕。也不要顾着跟摊位的人聊天，而忽略了要买东西的人喔。</span>
            </li>
            <li>
                <span><strong>礼仪三：摊位内请不要乱放</strong></span>
                <br>
                <span>摊位并不大，所以最好不要挤太多人，人多时椅子不够的情况下，说不定您的朋友会去占用A隔壁摊位或是後面摊位的人的椅子。带去会场的贩售物也要好好整理，小心别占到其他摊位的通道，不要只是台面上好看喔。</span>
            </li>
            <li>
                <span><strong>礼仪四：要有拒绝的勇气</strong></span>
                <br>
                <span>对於缠人的读者或玩家（不管是哪方面的），都要有拒绝的勇气，优柔寡断的反应反而容易造成误会。如果你不果断拒绝，不断滞留在摊位前的读者或买家也会造成其他参加者的困扰。</span>
            </li>
            <li>
                <span><strong>礼仪五：不要强求对方买产品</strong></span>
                <br>
                <span>强迫推销是不可以的，例如“你不买书就不帮你画画”，这种情况社团有义务事先告知“我们社团只帮有买书的人画”，如果读者看了不高兴这也没办法，身为卖家的确有义务告知。</span>
            </li>
            <li>
                <span><strong>礼仪六：陈列的商品请不要占到其他社团的空间</strong></span>
                <br>
                <span>这跟隔壁卖的好不好，大不大手没有任何关系，人家的摊位就是人家的摊位。即使场面再混乱，身为社团的人一定要注意。</span>
            </li>
            <li>
                <span><strong>礼仪七：海报、X架、易拉宝的设置</strong></span>
                <br>
                <span>这些都是展示、招揽用的东西，在会场会想布置可以理解，不过请注意摊位之间的空间不全是您的，立了架子会造成其他社团的人难以移动（尤其是位於中央地带）。</span>
                <br>
                <span>在立展架前记得跟前后左右社团取得许可，才开始架设。也请注意固定好，不要让架子倒下来或者要其他社团帮您注意。</span>
            </li>
            <li>
                <span><strong>礼仪八：交换本子</strong></span>
                <br>
                <span>社团之间彼此交换本子一直是贩售会的传统之一，也是个乐趣。 但却也会有人拿来当处理卖剩本子的方法，拿去其他社团强迫推销。既然是交换就是建立在双方意愿下，只要有一方不愿意交换就不能成立。</span>
                <br>
                <span>因此请大家不要强迫别人跟自己交换，或者交换後因为自己书比较贵还要对方找你钱。</span>
                <br>
                <span>再声明一次，对方没理由一定要跟您交换。</span>
            </li>
            <li>
                <span><strong>建议一：请管理秩序</strong></span>
                <br>
                <span>参展并不只是管好桌子上的事情就可以了，展位前的空间也是您的责任领域，甚至于排队购买您本子的人群，也是您需要负责的对象。 虽然场地管理人员会帮您维持秩序，但全场摊位很多，自然有顾不过来的时候，所以请负责您的摊位前不要出现混乱（有时候叫一声就很有效果）。</span>
            </li>
            <li>
                <span><strong>建议二：大手社团请多设摊位和人手</strong></span>
                <br>
                <span>既然您打算一次卖个几百上千本，却只有1个摊1个人在那里忙活，自然会造成摊前排起长队。摊子前面有人排队虽然感觉很光彩，但一给组织方造成管理压力、二给旁边摊位带来不便、三让买家浪费大量排队时间……</span>
                <br>
                <span>所以如果您的售卖、预定量都很大的话，请不要吝啬多租个摊位，多安排些人手吧。</span>
            </li>
            <li>
                <span><strong>建议三：请准备足够的零钱</strong></span>
                <br>
                <span>在易混乱的会场(尤其是大手)，这点常识想不必多说了。 一方面是避免自己麻烦，一方面也是为了节省时间。</span>
                <br>
                <span>别把找零的希望寄托在读者身上，也别以为自己是弱小社团就懒得准备零钱。零钱可以前一天去银行换喔。</span>
            </li>
            <li>
                <span><strong>建议四：不要抢在开场前买书</strong></span>
                <br>
                <span>由於社团比一般人早入场，可以在开场前就不用排队抢先买到想要的本子。考虑到其他一般参加者的公平性，还是乖乖等到开场再买比较好。</span>
                <br>
                <span>而且开场前时间都是社团在布置或处理摊位的时间，想想看自己正忙着整理东西不可开支的时候，摊位前一直有人站着挡路跟你催着要买书，不是也很讨厌吗？</span>
                <br>
                <span>既然已经不用在楼下排队跟着人挤人了，至少就等开场再去购买吧。</span>
            </li>
            <li>
                <span><strong>建议五：尽量不要留空摊</strong></span>
                <br>
                <span>也许会有人手比较少的摊位，因为某些事情而不得已全部跑出去。因为摊位不是密闭式的，暂且不说自己安全不安全，至少因为空摊谁都可以进，会对旁边的摊位造成安全隐患。提前退场的情况也是这样。</span>
                <br>
                <span>所以如果有急事需要处理，或者一定要提前退场的话，请先和工作人员联系，好安排人手管理。当然工作人员有限，没有急事的话还是尽量呆到闭场吧，反正只有一天……</span>
                <br>
            </li>
        </ul>
    </div>
    <div id="content-customer" class="nodisplay-object content-page">
        <h3>【入场方】</h3>
        <ul class="content-list">
            <li>
                <span><strong>建议一：请尽可能准备零钱</strong></span>
                <br>
                <span>就像您嫌找零钱麻烦，在人多时还要找你零钱的社团会更麻烦，如能根据购买计划准备好零钱，对摊主来说是莫大的帮助。</span>
            </li>
            <li>
                <span><strong>建议二：排队请遵守秩序</strong></span>
                <br>
                <span>这个没有放在礼仪里面，是因为有序排队的话，不只减轻摊位、场地的工作压力，也会让您能更顺利地买到想要的本子。</span>
            </li>
            <li>
                <span><strong>建议三：中午请吃饭</strong></span>
                <br>
                <span>由于即卖会场不会有很多坐席，长时间站立、拥挤会造成极大体力消耗，所以中午时间请吃饭补充体力。</span>
            </li>
            <li>
                <span><strong>建议四：联机时请不要给他人带来麻烦</strong></span>
                <br>
                <span>有时候大家一拿起机子就完全不动了呢，请注意您站立的地方是否会给他人造成不便</span>
            </li>
            <li>
                <span><strong>Cosplay相关一：小心衣服碍事</strong></span>
                <br>
                <span>pm的角色很多时候是具有杀伤力的。例如阿修的头发等等…</span>
                <br>
                <span>虽然扮什麽角色是个人自由，但还是请小心衣服造成人家的困扰， 尤其在流动量大的贩售会会场更可能造成堵塞，坂木老大就要带着猫老大走来走去啦</span>
            </li>
            <li>
                <span><strong>Cosplay相关二：厕所化妆</strong></span>
                <br>
                <span>由于没有专门更衣室，厕所化妆似乎已经是司空见惯的事情。 但还是请注意一点，在厕所化妆并不是理所当然，请不要强占厕所。 也请注意到其他使用厕所的人，不要大刺刺在厕所喷染剂帮路人染发。</span>
            </li>
            <li>
                <span><strong>Cosplay相关三：请不要做大动作</strong></span>
                <br>
                <span>例如追赶跑跳碰，不管是不是为了让照片更生动或者是有人要求。 这点玩家都应该要自制，会场非常的小，稍微一投足一举手都会撞到别人。</span>
            </li>
            <li>
                <span><strong>Cosplay相关四：角色扮演的责任</strong></span>
                <br>
                <span>几个月来能扮演角色扮演的机会也只有在贩售会，所以可以理解玩家想表现的心态。 但会场是公共场所，因此在都要注意自己的行为</span>
                <br>
                <span>米可利请不要随意地啊咳——</span>
            </li>
            <li>
                <span><strong>Cosplay相关五：拍照前请征求对方同意</strong></span>
                <br>
                <span>很多人扮角色扮演的目的，只是因为喜欢该角色，不是为了要现给大家看。 所以并不代表角色扮演的人可以说照就照，在拍照之前都必须征求人家同意。 如果擅自拍照就是违反肖像著作权中的肖像权，请大家尊重人权。</span>
            </li>
            <li>
                <span><strong>Cosplay相关六：请不要随便散布照片</strong></span>
                <br>
                <span>洗出来的照片会有福同享这是很常见的，但当你公开於杂志上或上传与网路上就是违法。 即使摄影者具有该照片的着作权，但肖像权仍属於被拍的当事人的。 唯有双方都经过同意才可刊登。</span>
            </li>
            <li>
                <span><strong>Cosplay相关七：请不要跟踪人家</strong></span>
                <br>
                <span>在会场有时看到出众的玩家，会想拍照是很理所当然的。但是例如因为找不到机会，或者等玩家跟人家说完话，就躲在一旁候着。那行为就第三者眼光看，除了变态什麽都不是……即使没有恶意被逮捕也是无话可说的。</span>
            </li>
            <li>
                <span><strong>Cosplay相关八：请注意主题</strong></span>
                <br>
                <span>既然都是Pokemon Only了，请不要穿着其他作品的角色的衣服前来会场。到了的话也就是单纯地被工作人员拦下不让入场了而已。所以请注意自身着装</span>
            </li>
        </ul>
    </div>
    <p>本文大量引用修改自原色屋的御村了大人所著之<a href="http://www.tea-room.ne.jp/~mind/h2so4/big5/" class="maintext-href">《关于同人志的必备礼节》</a>。</p>
{% endblock %}
{% block panels %}
    <div id="switch-seller" class="pmo-panel switch-panel panel-red-r"><span>售卖方</span></div>
    <div id="switch-customer" class="pmo-panel switch-panel panel-blue-r"><span>入场方</span></div>
{% endblock %}