html, body, label, button, input, textarea, select{
    font-family:  "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body {
    margin: 0;
}
a {
    text-decoration:none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.hidden-object {
    opacity: 0;
}
.nodisplay-object {
    display: none;
}
.img-href {
    display: block;
    text-indent: -9999em;
    height: 100%;
    width: 100%;
}
