body {
    overflow: hidden;
    background: url("../images/mainbg.png");
}

#error-container {
    background: url("../images/bg404.png") no-repeat center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -397px;
    margin-top: -295px;
    width: 794px;
    height: 590px;
}

#href-return {
    position: absolute;
    right: 81px;
    bottom: 105px;
}