{% extends "pmo2016/base.html" %}
{% load staticfiles %}
{% block more_heads %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/shadowbox.css' %}">
    <script type="text/javascript" src="{% static 'js/shadowbox.js' %}"></script>
{% endblock %}
{% block subtitle %}场地摊位图 - 现场摊位{% endblock %}
{% block stitle %}stall-diagram{% endblock %}
{% block content %}
    <h3>【现场摊位图】</h3>
    <div>
        <a id="diagram-image" rel="shadowbox" href="{% static "pmo2016/images/diagram.jpg" %}"
             style="background-image: url({% static "pmo2016/images/diagram.jpg" %});"></a>
    </div>
    <table id="diagram-table">
        <tr>
            <td>1</td>
            <td>官摊</td>
            <td>16</td>
            <td>正电拍拍不是耗子</td>
        </tr>
        <tr>
            <td>2</td>
            <td>野生PM保护协会</td>
            <td>17-18</td>
            <td>萌萌哒の瑞琬酱</td>
        </tr>
        <tr>
            <td>3-4</td>
            <td>咪咪村小卖部</td>
            <td>19-20</td>
            <td>+POKE BOX+</td>
        </tr>
        <tr>
            <td>5</td>
            <td>沙奈朵培育屋</td>
            <td>21</td>
            <td>口袋病毒</td>
        </tr>
        <tr>
            <td>6</td>
            <td>蜜橘茶orantea</td>
            <td>22</td>
            <td>矢歲杉蔬果专卖</td>
        </tr>
        <tr>
            <td>7</td>
            <td>黑心餠店</td>
            <td>23</td>
            <td>兔子布丁</td>
        </tr>
        <tr>
            <td>8A</td>
            <td>N透腿肉组</td>
            <td>24-25A</td>
            <td>垃圾豆的相连据点</td>
        </tr>
        <tr>
            <td>8B</td>
            <td>POKEDRAWER</td>
            <td>25B</td>
            <td>身穿白大褂帅气的少年</td>
        </tr>
        <tr>
            <td>9</td>
            <td>魔都变身塾</td>
            <td>26</td>
            <td>Mr.GTJ</td>
        </tr>
        <tr>
            <td>10-11</td>
            <td>口袋妖怪治疗中心</td>
            <td>27</td>
            <td>五行缺智</td>
        </tr>
        <tr>
            <td>12</td>
            <td>金银痴汉大部队</td>
            <td>28</td>
            <td>真新鎮小智研究科</td>
        </tr>
        <tr>
            <td>13-14-15</td>
            <td>百度神奇宝贝吧</td>
            <td>29-30</td>
            <td>咔嚓咔嚓赶制组</td>
        </tr>
    </table>
    <p></p>
    <p>*AB为半摊的区分</p>
{% endblock %}
