{% extends "pmo2016/base.html" %}
{% load staticfiles %}
{% block more_heads %}
    <script type="text/javascript" src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fileupload.js' %}"></script>
    <script type="text/javascript" src="{% static 'pmo2016/js/switch.js' %}"></script>
    <script type="text/javascript" src="{% static 'pmo2016/js/stall.js' %}"></script>
    <script type="text/javascript" src="{% static 'pmo2016/js/logout.js' %}"></script>
{% endblock %}
{% block subtitle %}{% if seller.is_stall %}摊位{% else %}寄卖{% endif %}申请 - 在线报名{% endblock %}
{% block stitle %}register-{% if seller.is_stall %}stall{% else %}consign{% endif %}{% endblock %}
{% block content %}
    <div id="content-notice" class="nodisplay-object content-page">
        {% include "pmo2016/register/stall/notice.html" %}
    </div>
    <div id="content-instructions" class="nodisplay-object content-page">
        {% include "pmo2016/register/stall/instructions.html" %}
    </div>
    <div id="content-information" class="nodisplay-object content-page">
        {% include "pmo2016/register/stall/information.html" %}
    </div>
    <div id="content-items" class="nodisplay-object content-page">
        {% include "pmo2016/register/stall/items.html" %}
    </div>
    <div id="content-submit" class="nodisplay-object content-page">
        {% include "pmo2016/register/stall/submit.html" %}
    </div>
{% endblock %}

{% block panels %}
    <div id="switch-notice" class="pmo-panel switch-panel panel-red-r"><span>{% if seller.is_stall %}摊主{% else %}寄卖{% endif %}通知</span></div>
    <div id="switch-instructions" class="pmo-panel switch-panel panel-blue-r"><span>申请须知</span></div>
    <div id="switch-information" class="pmo-panel switch-panel panel-purple-r"><span>社团资料</span></div>
    <div id="switch-items" class="pmo-panel switch-panel panel-yellow-r"><span>参展物品</span></div>
    <div id="switch-submit" class="pmo-panel switch-panel panel-green-r"><span>申请提交</span></div>
{% endblock %}