<h3>参展物品</h3>
<div id="error-message-information">
    <p id="error-information" class="error-message-text"></p>
</div>
<h4>【已经登录的商品列表】</h4>
<table class="controls-group items-table">
    <thead>
        <tr>
            <th id="item-numbers" class="first-head">编号</th>
            <th id="item-names" class="last-head">名称</th>
        </tr>
    </thead>
    <tbody>
        {% for i in item_range %}
        <tr class="oneline-group">
            <td class="item-number">{{ i }}</td>
            <td class="item-name">物品{{ i }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h4>【商品信息】</h4>
<div class="input-area">
    <form id="items-input" action="{% url "stall:item" %}" method="post" onsubmit="return false;">
        {% include "pmo2015/register/stall/itemform.html" %}
    </form>
</div>