{% extends "pmo2015/base.html" %}
{% load staticfiles %}
{% block more_heads %}
    <script type="text/javascript" src="{% static 'pmo2015/js/switch.js' %}"></script>
    <script type="text/javascript" src="{% static 'pmo2015/js/guestbook.js' %}"></script>
{% endblock %}
{% block subtitle %}留言板 - QA留言板{% endblock %}
{% block stitle %}faq-guestbook{% endblock %}
{% block content %}
    <div id="error-message">
        <p>{% if eroor == 0 %}留言成功{% elif error == 1 %}*为必填项目{% elif error == 2 %}页码错误{% elif error == -1 %}未知错误{% endif %}</p>
    </div>
    <div id="input-area">
        <form id="message-input" action="#" method="post">
            <div class="controls-group oneline-group">
                <label class="form-label" for="text-nickname">昵称*</label>
                <input id="text-nickname" class="form-control form-text" type="text" name="nickname" value="{{ nickname }}">
            </div>
            <div class="controls-group oneline-group">
                <label class="form-label" for="text-email">Email</label>
                <input id="text-email" class="form-control form-text" type="email" name="email" value="{{ email }}">
            </div>
            <div class="controls-group">
                <label class="form-label" for="text-message">留言*</label>
                <textarea id="text-message" class="form-control form-textarea" name="message">{{ message }}</textarea>
            </div>
            <div class="controls-group oneline-group">
                <button id="button-submit" class="form-control form-button" name="submit">提交</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
    <div id="split-line"></div>
    <div id="message-area">
        <div id="message-nav">
            <span>共 {{ comment_number }} 条留言 第 {{ page }} 页</span>
            <label for="text-page">跳转到</label>
            <input id="text-page" class="form-control form-small-text" type="number" min="1" max="{{ max_page }}" name="page" value="{{ page }}">
        </div>
    {% for main_comment in main_comments %}
        <div id="message-p{{ main_comment.id }}" class="comment-box">
            <span>{{ main_comment.nickname }}</span>
            <p>{{ main_comment.content }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
