{% extends "pmo2015/base.html" %}
{% load staticfiles %}
{% block more_heads %}
    <script type="text/javascript" src="{% static 'pmo2015/js/switch.js' %}"></script>
    <script type="text/javascript" src="{% static 'pmo2015/js/guestbook.js' %}"></script>
{% endblock %}
{% block subtitle %}留言板 - QA留言板{% endblock %}
{% block stitle %}faq-guestbook{% endblock %}
{% block content %}
    <div id="error-message">
        <p id="error-message-text"></p>
    </div>
    <div id="input-area">
        <form id="message-input" onsubmit="return false;" method="post" action="{% url 'pmo2015:api' 'guestbook'%}">
            <div class="controls-group oneline-group">
                <label class="form-label" for="text-nickname">昵称*</label>
                <input id="text-nickname" class="form-control form-text" type="text" name="nickname" value="{{ nickname }}">
            </div>
            <div class="controls-group oneline-group">
                <label class="form-label" for="text-email">Email</label>
                <input id="text-email" class="form-control form-text" type="email" name="email" value="{{ email }}">
            </div>
            <div class="controls-group">
                <label class="form-label" for="text-message">留言*</label>
                <textarea id="text-message" class="form-control form-textarea" name="message">{{ message }}</textarea>
            </div>
            <div class="controls-group oneline-group">
                <button id="button-submit" class="form-control form-button" name="submit">提交</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
    <div id="split-line"></div>
    <div id="message-area">
        <div id="message-nav">
            <form id="page-nav" method="get" action=".">
                <span>共 {{ comment_number }} 条留言 第 {{ page }} 页</span>
                <label for="text-page">跳转到</label>
                <input id="text-page" class="form-control form-small-text" type="number" min="1" max="{{ max_page }}" name="page" value="{{ page }}">
                <button id="page-submit" class="button-small form-button form-control">提交</button>
            </form>
        </div>
    {% for main_comment in main_comments %}
        <div id="message-p{{ main_comment.id }}" class="comment-box">
            <div id="comment-meta">
                <span id="comment-nickname">{{ main_comment.nickname }}</span>
                <span id="comment-datetime">{{ main_comment.gen_time }}</span>
            </div>
            <div id="comment-content">{{ main_comment.content|linebreaks }}</div>
        {% for back_comment in main_comment.backcomment_set.all %}
            <div id="comment-back">
                <div id="backcomment-admin">{{ back_comment.admin.nickname }}</div>
                <div id="backcomment-datetime">{{ back_comment.gen_time }}</div>
                <div id="backcomment-content">{{ back_comment.content|linebreaks }}</div>
            </div>
        {% endfor %}
        </div>
    {% empty %}
        <div id="message-none">暂时没有留言。</div>
    {% endfor %}
    </div>
{% endblock %}
