{% extends "pmo2016/base.html" %}
{% load staticfiles %}
{% block subtitle %}联机对战 - 现场活动{% endblock %}
{% block stitle %}event-battle{% endblock %}
{% block content %}
    <h3>【报名形式】</h3>

    <h4>*关于报名</h4>
    <p>参赛报名费5rmb/人。</p>
    <p>包含参赛名额*1、战斗区参与奖*1。</p>
    <p>报名方式分为“线下预报名”“线上预报名”和“现场报名”三类。</p>
    <p>报名总上限为116人，其中4名为种子训练师。*注1</p>
    <p>报名请确保当天能够准时来到现场。</p>
    <p>比赛预计为10:00开始，于9:30开始进行登记入场，请训练师尽量9:20前到场。</p>
    <h4>*线下预报名</h4>
    <p>在购买线下预售票的同时进行缴费和报名。</p>
    <p>报名需登记昵称、门票ID和联系邮箱，以方便进行后期通知。*注2</p>
    <p>现场需携带门票在对战登记处排队，将队伍给npc检查一次后，可领取队伍登记表，并从冠军之路入场。*注3</p>
    <p>入场后在指定位置就座，并尽快填写队伍信息，填写完成后交至裁判处后等待比赛开始。</p>
    <h4>*线上预报名</h4>
    <p>在<a href="https://item.taobao.com/item.htm?id=531998611190" class="maintext-href">指定TB店</a>购买预售票时，选择“对战票”选项。</p>
    <p>收到票之后请前往<a href="{% url 'pmo2016:register' 'battle' %}" class="maintext-href">报名页面</a>进行报名（届时网址链接也会贴在商品详情中）。</p>
    <p>并按照要求正确填写昵称、邮箱、门票ID等信息。*注2</p>
    <p>现场需携带门票在对战登记处排队，将队伍给npc检查一次后，可领取队伍登记表，并从“冠军之路”入场。*注3</p>
    <p>入场后在指定位置就座，并尽快填写队伍信息，填写完成后交至裁判处后等待比赛开始。</p>
    <h4>*现场报名</h4>
    <p>在现场售票处购买门票后，或是直接携带未敲章的预售票来到对战登记处，可支付5元报名费给门票敲章，将门票升级为对战票。</p>
    <p>同时将队伍给npc检查一次后，可领取队伍登记表，并从冠军之路入场。*注3</p>
    <p>入场后在指定位置就座，并尽快填写队伍信息，填写完成后交至裁判处后等待比赛开始。</p>

    <h3>【比赛流程】</h3>
    <p><strong>分初赛（小组赛）和决赛（淘汰赛），比赛当日会视参赛人数和时间而调整对战场数。</strong></p>

    <h4>*队伍登记表</h4>
    <p><strong>训练师必须按在领取到的登记表上指定的座位号就座，并尽快填写队伍登记表的信息。</strong></p>
    <p>比赛当天提交完队伍表后，不得再对精灵进行任何更改。</p>
    <p>填写表格可以使用中文、日文或英文。</p>
    <p>使用日文或英文的场合，请完整抄写游戏内原文。</p>
    <p>使用中文的场合，请尽可能使用官译；对于部分翻译比较混淆的信息，工作人员可能会进行提问。</p>
    <h4>*具体赛制</h4>
    <p>采取小组赛+32人淘汰赛赛制*注4</p>
    <p>小组赛分成四大组（赤绿蓝黄），每大组内分8小组（A-H），除H组为种子训练师外，每小组2-4人。</p>
    <h4>*小组赛阶段</h4>
    <p>同一小组内训练师在预赛期间互相进行对战，胜场最多的训练师晋级淘汰赛。</p>
    <p>小组赛总限时90分钟。若时间内已完成全部对战则提前进入淘汰赛。</p>
    <p>在每场对战完成后，请各训练师填写台上预先放好的计分表，在小组赛全部结束后携带小组计分表一同前往各自分区的裁判桌向工作人员通报全部比赛结果，同时确定小组晋级者。</p>
    <p>若需要通过队伍重复度来判断晋级者，则将由工作人员进行计算并确定小组晋级者。</p>
    <h5>**小组晋级的判定方式</h5>
    <p>1. 小组比赛全部结束后，小组内胜场最多者晋级。</p>
    <p>2. 若有2位训练师同为胜场最多，则小组赛中互相交战时的胜者晋级。</p>
    <p>3. 若有3位训练师同为胜场最多，则3位训练师中队伍重复度*注5最低者晋级。</p>
    <p>4. 在3的前提下，若有2位训练师队伍重复度同为最低，则小组赛中互相交战时的胜者晋级。</p>
    <p>5. 在3的前提下，若3位训练师队伍重复度相同，则通过抽签决定晋级者。</p>
    <h4>*淘汰赛阶段</h4>
    <p>小组赛晋级的训练师将按所属小组号为对阵表依据进行淘汰赛。</p>
    <p>淘汰赛（决赛和半决赛外）总限时2小时，每轮限时40分钟。</p>
    <p>同组内若双方均已完成对战并已向裁判汇报成绩后，可提前开始下一轮对战。</p>
    <p>每个大组内以AB\CD\EF\GH的顺序组成淘汰赛对阵表。</p>
    <p>四强训练师以赤绿/蓝黄的顺序组成半决赛对阵表。</p>
    <p>四强开始的半决赛和决赛将进行现场直播。</p>

    <h3>【比赛规则】</h3>

    <h4>总体规则：VGC16（即当前oras排位赛季的特殊模式）</h4>
    <h4>1. 队伍构成</h4>
    <h5>1.1 对战箱设置</h5>
    <p>训练师的队伍必须放置于对战箱内，由比赛开始至结束将无法作出任何改动。</p>
    <p>队伍必须持有最少4只宝可梦(Pokémon)。</p>
    <h5>1.2 昵称</h5>
    <p>队伍不能持有2只相同昵称的宝可梦(Pokémon)。</p>
    <p>队伍不能持有以另一只宝可梦(Pokémon)名称作为昵称的宝可梦(Pokémon)。</p>
    <p>训练师为角色和宝可梦(Pokémon)命名时，必须避免使用含有任何不当、猥亵或其他攻击性内容的词语或字句。</p>
    <h5>1.3 道具</h5>
    <p>每只宝可梦(Pokémon)均可携带一项道具，相同装备道具不能同时使用。</p>
    <p>训练师只可使用从「Pokémon Omega Ruby & Alpha Sapphire」、「Pokémon X・Y」、「Pokémon Global Link」或官方活动中取得的道具。</p>
    <p>道具「Soul Dew(こころのしずく)」不能使用。</p>
    <h5>1.4 宝可梦(Pokémon)</h5>
    <p>训练师队伍不能持有2只或以上全国图鉴编号相同的宝可梦(Pokémon)。</p>
    <p>宝可梦(Pokémon)只可使用从正常游玩或官方活动中习得的招式。</p>
    <p>可使用Hidden Ability(隠れ特性)的宝可梦(Pokémon)。</p>
    <p>所有宝可梦(Pokémon)必需附有 Blue Pentagon（俗称卡标）以代表该宝可梦(Pokémon)从「Pokémon X・Y」或「Pokémon Omega Ruby & Alpha
        Sapphire」内获得。</p>
    <p>51或以上等级的宝可梦(Pokémon)是允许参赛的，但于比赛中会由系统自动调整至50等级。</p>
    <p>等级50以下的宝可梦(Pokémon)是允许参赛的，但也会调整至等级50。*注6</p>
    <p>训练师可以使用全国图鉴编号No.001-721的宝可梦(Pokémon)，须为从游戏中捕获，从过去的游戏传送而来，或从官方活动取得的宝可梦(Pokémon)。</p>
    <p>禁止使用宝可梦(Pokémon)清单 (全国编号)：</p>
    <p>151，251，385，386，489，490，491，492，493，494，647，648，649，719，720，721</p>
    <p>每队同时只可在对战箱有「最多2只」以下宝可梦(Pokémon)：</p>
    <p>150，249，250，382，383，384，483，484，487，643，644，646，716，717，718</p>

    <h4>2. 设备规则</h4>
    <h5>2.1 游戏系统</h5>
    <p>训练师可使用任何Nintendo 3DS系列主机参赛，训练师有责任准备充足电源，比赛期间因主机电量不足而无法继续作赛者，视为弃权。</p>
    <h5>2.2 游戏更新</h5>
    <p>训练师必须确认自己的「Pokémon Omega Ruby & Alpha Sapphire」游戏版本已更新为最新版本，若训练师于比赛时未能满足游戏版本要求，将有可能受到包括取消资格的处分。</p>
    <h5>2.3 使用手机规则</h5>
    <p>训练师可使用手机在进行出战宝可梦选择时拍照记录对方队伍全体，但不可在对战中查阅图鉴软件的资料或是上网查阅各种宝可梦相关资料。</p>
    <h5>2.4 笔记</h5>
    <p>训练师于比赛的任何时间都可以进行笔记，惟必须使用白纸或文稿纸；若纸张上印有标志或文字，则无法使用。</p>
    <p>现场将提供文稿纸供训练师笔记，有需要的训练师可以在裁判处领取。</p>
    <h5>2.5 比赛区域内的物品</h5>
    <p>训练师可摆放幸运符或对象于比赛区域内，但必须保持范围齐整。训练师必须避免摆放妨碍游戏主机红外线通讯的物品。</p>

    <h4>3. 比赛形式与规则</h4>
    <h5>3.1 Double Battle (ダブルバトル) ---Normal Rule（ノーマルルール）</h5>
    <p>
        每位训练师从对战箱选择4只宝可梦(Pokémon)进行对战。比赛开始时，训练师先从队伍中派出2只宝可梦(Pokémon)出战。对战场上总共会有4只宝可梦(Pokémon)。比赛会持续到其中一方全部4只宝可梦(Pokémon)无法战斗或限时结束。</p>
    <h5>3.2 队伍锁定</h5>
    <p>比赛开始前需将对战精灵存入战斗箱/手持，比赛期间会对训练师进行抽查，若与所填表格不符将从当轮起全部判负。</p>
    <h5>3.3 比赛判决</h5>
    <p>训练师以令对手最后一只宝可梦(Pokémon)无法战斗而获胜。</p>
    <p>如果2位训练师的宝可梦(Pokémon)在该局最后一回合同时无法战斗，最后无法战斗的宝可梦(Pokémon)的训练师将获胜。</p>
    <h5>3.3.1 超时</h5>
    <p>若限时超过时，其中一方训练师仍然未击倒其对手的宝可梦(Pokémon)，该局胜利者将会根据下列规则判定。</p>
    <p><strong>・余下的宝可梦(Pokémon)</strong></p>
    <p>如果其中一方训练师余下的宝可梦(Pokémon)数目多于对手，则该训练师获胜。</p>
    <p>如果2位训练师余下的宝可梦(Pokémon)数目相同，比赛结果将按余下HP的平均百份比判定，如下所述：</p>
    <p><strong>・余下HP的平均百份比</strong></
    <p>如果其中一方训练师的队伍的余下HP的平均百份比较高，则该训练师获胜，计算方法如下：</p>
    <p>(余下宝可梦(Pokémon)的目前HP)/(4只出战宝可梦(Pokémon)的HP上限)</p>
    <p>如果两位训练师的余下HP的平均百份比相同，比赛结果将按余下HP数值决定，如下所述:</p>
    <p><strong>・余下的HP數值</strong></p>
    <p>如果其中一方训练师的隊伍余下的HP数值较高，则该训练师获胜。</p>
    <p>如果2位训练师的队伍余下的HP数值相同，则该局为平局。</p>
    <h5>3.3.2 决胜方法</h5>
    <p><strong>▪　初赛：</strong></p>
    <p>小组赛采取一局一胜制。</p>
    <p>小组赛对战时间最多为90分钟，限时内仍未分出胜负时，将由裁判按座位号顺序开始进行裁决。</p>
    <p>仍在进行的对战，将按3.3.1的规则进行判决。</p>
    <p>未进行的对战，将按双方队伍重复度进行判决，重复度低的判胜。</p>
    <p><strong>▪　决赛：</strong></p>
    <p>淘汰赛采取三局两胜制。</p>
    <p>淘汰赛对战时间最多为一轮40分钟，限时内仍未分出胜负时，将由裁判按座位号顺序开始进行裁决。</p>
    <p>若达到限时时进行的是1回战，则将按3.3.1的规则进行判决后，直接以该场胜负作为比赛结果，判决胜者的训练师晋级。</p>
    <p>若达到限时时进行的是2回战，先按3.3.1的规则进行判决，若判决结果为1回战胜者胜利，则直接判定胜者晋级。若判决结果为1回战败者胜利导致平手时，则将按双方队伍重复度进行判决，重复度低的判胜。</p>
    <p>若达到限时时进行的是3回战，则将按3.3.1的规则进行判决，判决胜者的训练师晋级。</p>

    <h4>4. 违规宝可梦(Pokémon)</h4>
    <h5>4.1 违规改造宝可梦(Pokémon)</h5>
    <p>禁止使用明显的非法宝可梦(Pokémon)与道具。</p>
    <p>禁止使用截至比赛当日没有正规获得途径的宝可梦(Pokémon)以及其技能。</p>
    <p>禁止其他明显的修改行为。</p>
    <p>一经发现视情况从当轮起本次比赛内所有场次全部判负。</p>
    <h5>4.2 人工检测</h5>
    <p>比赛开始前工作人员将会对参实者进行宝可梦(Pokémon)检查，若发现训练师使用的宝可梦(Pokémon) 有经非正常途径入手嫌疑，将会要求更换为数据正常的宝可梦(Pokémon)或道具进行参赛。</p>
    <p>比赛期间会对训练师进行抽查，若与所填表格不符将从当轮起全部判负。</p>
    <h5>4.3 举报怀疑改造</h5>
    <p>比赛过程中，如训练师发现有明显非法精灵或道具时，可在对战结束后保存录像并向裁判进行举报。</p>

    <h3>【比赛注意事项】</h3>
    <p>训练师参赛必须持有魔都PMO2016的对战票门票。</p>
    <p>训练师请自备正版「Pokémon Omega Ruby & Alpha Sapphire」游戏卡带或下载版软件及符合比赛规则的宝可梦(Pokémon)，方可参赛。</p>
    <p>尊重知识产权，不得以非原装正版游戏卡或各种改版下载软件作赛，违者经发现将被取消资格。</p>
    <p>比赛时间以现场显示时间为准。</p>
    <p>比赛后请将桌上的纸张交予比赛工作人员。</p>
    <p>训练师有责任准备充足电源，比赛期间因主机电量不足而无法继续作赛者，视为弃权。*注7</p>
    <p>任何引致妨碍比赛整体运作的行为，或是妨碍魔都PMO2016活动的行为，经过工作人员判断后，有权判决生事者取消资格。</p>
    <p>若有任何争议，魔都PMO组委会保留最终决定权。</p>

    <h3>【比赛奖品】</h3>
    <p><a href="{% url 'pmo2016:baseinfo' 'prize' %}" class="maintext-href">点我查看</a></p>

    <h3>备注内容</h3>

    <p>注1：种子训练师将通过魔都宝可梦月赛、菇吧赛、来玩PARTY精灵宝可梦线下聚会、历届PMO比赛等方式决定，具体待定。</p>
    <p>注2：预报名的训练师届时会根据门票ID分发已经标记好分组的队伍登记表，请注意不要误拿。</p>
    <p>注3：请在登记处排队前就将队伍放在对战箱内或放在手持上，以方便快速检查。</p>
    <p>注4：根据现场报名人数，可能会进行比赛模式的调整。</p>
    <p>注5：队伍重复度=训练师的六只精灵在该次比赛中总使用数的总和。</p>
    <p>
        【例】训练师A的队伍为：古拉顿、哲尔尼亚斯、图图犬、暴蝾螈、袋兽、烈箭鹟，而统计出的所有参赛训练师中，这6只精灵的使用数分别为60、50、70、55、55、45的话，那么这位训练师的队伍重复度即为60+50+70+55+55+45=335</p>
    <p>另，相同编号的精灵的各种形态记为同个精灵的使用数。</p>
    <p>注6：由于启用normal规则，将强制把所有精灵调整成50级，因此不可使用低等级特调战术，请见谅。</p>
    <p>注7：会场会设置少量充电设备，可以给训练师进行充电帮助。但是数量有限，请尽可能保证充足电源或携带充电宝。</p>



{% endblock %}
