{% extends "pmo2016/base.html" %}
{% load staticfiles %}
{% block subtitle %}场地活动 - 现场活动{% endblock %}
{% block stitle %}event-venue{% endblock %}
{% block content %}
    <h3>【现场小游戏】</h3>
    <h4>1、《传说中的火箭游戏中心》</h4>
    <p>——你为了追查火箭队，来到了关东地区彩虹市的火箭游戏中心，为了不被店员产生怀疑，你玩起了老虎机。</p>
    <p>•玩家需使用工作人员提供的3DS，玩初代VC中的游戏中心老虎机。</p>
    <p>•每次有6次机会，转到中奖或用完机会为止。</p>
    <p>•6次内摇中任意奖即可过关。</p>
    <p>•若有转出777，则可无条件追加通过其他7个游戏的任意一个。</p>

    <h4>2、《看不懂的安农》</h4>
    <p>——你来到了城都地区桔梗市附近的阿露福遗迹，当地的研究员希望你帮助他解读古代文字。</p>
    <p>•玩家需念出工作人员给的5张卡片中的单词。</p>
    <p>•在半分钟内回答出4个即可过关。</p>

    <h4>3、《帮大吾整理石头》</h4>
    <p>——你来到了位于芳缘地区绿岭市的大吾家，发现大吾正在整理自己的收藏品，并希望你能够帮助他。</p>
    <p>•桌面上放有20张背面朝上的卡片。</p>
    <p>•每2个玩家一组一起进行游戏</p>
    <p>•两个玩家按次序轮流行动，每次可同时翻开其中的两张，翻到两张图案一样的卡片即可过关。</p>
    <p>•若这两张不是相同图案的卡片即盖回继续，两人分别有3次机会，即一组有6次机会。</p>

    <h4>4、《和洛托姆捉迷藏》</h4>
    <p>——你来到了新奥地区白岱森林里的森之洋馆，听到了“嘻嘻嘻”的笑声，你在追寻笑声的来源。</p>
    <p>•每4个玩家一组同时进行</p>
    <p>•桌面上放有7个纸杯，杯内有代表7种洛托姆的指示物</p>
    <p>•一开始会公布7个纸杯内分别藏着哪只洛托姆</p>
    <p>•之后由工作人员盖上纸杯并交换纸杯之间的位置</p>
    <p>•交换结束后，工作人员说出3种形态，玩家需要指出其中任意1种形态在交换后的位置（4个玩家之间互不干扰，可以选择一样的位置）</p>
    <p>•待4个玩家全部指定好选择的位置后，打开所有纸杯，选中了工作人员所说的3种形态中任意一种即可过关</p>

    <h4>5、《切连的宝可梦知识测试》</h4>
    <p>——你来到了伊修地区桧扇市的宝可梦学校，想要挑战这里的道馆，然而这里的负责人老师让你先做考卷。</p>
    <p>•玩家坐定后会由工作人员给与问卷、答题纸和笔。</p>
    <p>•问卷分游戏类、动画类、漫画类三大类可以自行选择。</p>
    <p>•玩家需将问卷上的10道选择题的答案写在答题纸上并提交给工作人员批改。</p>
    <p>•正确7题即可过关。</p>

    <h4>6、《我有姿势我自豪》</h4>
    <p>——你来到了卡洛斯地区密阿雷市的弗拉达利咖啡馆，服务员告诉你，在这家咖啡馆点餐，必须摆出一个特定的姿势才行。</p>
    <p>•玩家需在工作人员面前，摆出XY中反派F团中小兵的姿势。</p>
    <p>•姿势到位即可过关。</p>

    <h4>7、《？？？》</h4>
    <p>——你路过了卡洛斯地区18号公路，不小心迷路进了终端洞窟……</p>

    <h4>8、《皇家对战》</h4>
    <p>——终于，你踏上了前往阿罗拉地区的旅途，在前往阿罗拉地区的游轮上，你被邀请参加了当地流行的新的对战模式。</p>
    <p>•四位玩家按队伍顺序组成一组，分别为ABCD</p>
    <p>•每人获得同种颜色的3个骰子，按ABCDABCDABCD的顺序，往指定的场地内投掷三轮</p>
    <p>•每次投掷哪个骰子可以自己决定</p>
    <p>•允许通过投掷骰子去击打已经在场上的骰子</p>
    <p>•不小心投出场外的骰子和被击打出场外的骰子，以及结算时被压在其他骰子下方的骰子，不计分</p>
    <p>•12个骰子全部投完后，结算各自在场内的骰子的总分，最后一名会被淘汰，其他三人过关（出现最后一名同分时，全员通关）</p>
{% endblock %}
