{% extends "pmo2015/base.html" %}
{% load staticfiles %}
{% block more_heads %}
    <script type="text/javascript" src="{% static 'pmo2015/js/captcha.js' %}"></script>
    <script type="text/javascript" src="{% static 'pmo2015/js/battle.js' %}"></script>
{% endblock %}
{% block subtitle %}对战报名 - 在线报名{% endblock %}
{% block stitle %}register-battle{% endblock %}
{% block content %}
    <h3>【报名信息】</h3>
    <div id="error-message">
        <p class="error-message-text"></p>
    </div>
    <div class="input-area">
        <form id="register-input" action="{% url "pmo2015:api" "battle" %}" method="post" onsubmit="return false;">
            <div class="controls-group oneline-group">
                <label class="form-label" for="text-nickname">昵称*</label>
                <input id="text-nickname" class="form-control form-text" type="text" name="nickname">
            </div>
            <div class="controls-group oneline-group">
                <label class="form-label" for="text-email">Email*</label>
                <input id="text-email" class="form-control form-text" type="email" name="email">
            </div>
            <div class="controls-group oneline-group">
                <label class="form-label" for="text-taobao">订单号*</label>
                <input id="text-taobao" class="form-control form-text" type="text" name="taobao">
            </div>
            <div class="controls-group oneline-group">
                <label class="form-label">团队</label>
                <div id="team-select" class="oneline-select form-control form-indent">
                    <div class="inline-control inline-control-three">
                        <input id="team-random" type="radio" name="team" value="random" checked="checked">
                        <label for="team-random">随机选择</label>
                    </div>
                    <div class="inline-control inline-control-three">
                        <input id="team-aq" type="radio" name="team" value="aq">
                        <label for="team-aq">水舰队</label>
                    </div>
                    <div class="inline-control inline-control-three">
                        <input id="team-mg" type="radio" name="team" value="mg">
                        <label for="team-mg">熔岩团</label>
                    </div>
                </div>
            </div>
            <div class="controls-group oneline-group">
                <label class="form-label">验证码*</label>
                <div id="battle_captcha" class="captcha-box form-control">
                    {{ form.captcha }}
                </div>
            </div>
            <div class="controls-group oneline-group">
                <button id="button-submit" class="button-submit form-control form-button" name="submit">提交</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
    <div class="split-line"></div>
    <div id="intro-area">
        <p><a class="maintext-href" href="{% url 'pmo2015:event' 'battle'%}">对战规则</a></p>
        <span>参赛报名费5r/人。包含参赛名额*1、战斗区参与奖*1</span>
        <br>
        <span><a href="http://item.taobao.com/item.htm?id=520112775382" class="maintext-href">需在此处拍下报名费，同时请备注昵称。</a></span>
        <br>
        <span>提交报名表时需提交淘宝订单号。（注意不是支付宝交易号）</span>
        <p>提交则默认接受对战规则。若有疑问请提前提出。</p>
        <p>提交后，队员们将会在7个工作日内以邮件方式将审核结果发送至您的邮箱，请注意查收。</p>
        <p>审核结果为通过的情况下将会随邮件附上参赛编号。当日到场时请前往指定区域领取号码牌。</p>
    </div>
{% endblock %}
