{% extends "pmo2015/base.html" %}
{% load staticfiles %}
{% block more_heads %}
    <script type="text/javascript" src="{% static 'pmo2015/js/switch.js' %}"></script>
    <script type="text/javascript" src="{% static 'pmo2015/js/signupin.js' %}"></script>
    <script type="text/javascript" src="{% static 'pmo2015/js/captcha.js' %}"></script>
{% endblock %}
{% block subtitle %}注册和登录账号 - 在线报名{% endblock %}
{% block stitle %}register-signupin{% endblock %}
{% block content %}
    <div id="content-stallinfo" class="nodisplay-object content-page">
        <h3>摊位须知</h3>
        <ul class="content-list">
            <li>1.摊位价格100RMB/摊/天，包含桌子（1.2m*0.5m）*1+椅子*2+摊主证*2+垃圾袋*1+瓶装饮用水*2+1.2m*1.5m地盘+场刊*1</li>
            <li>2.申请截止于7.25、审核将会在两周内进行。通过与否都会在摊主通知【链接】进行反馈请静候佳音。</li>
            <li>3.每个摊位限补摊主证2张，价格50RMB/张。于签约日补证。</li>
            <li>4.原则上不接受半摊申请</li>
            <li>5.提交申请时请同时提交参展物的80%的样品图或实物图</li>
            <li>6.活动前将会通知所有摊主进行签约。具体时间将会另行通知。</li>
            <li>7.申请通过后工作人员将会来问您索要高分辨率的商品样图用于场刊制作，还请配合。</li>
            <li>8.面向人群分为大众向、女性向、男性向三类</li>
            <li>9.限制级即R18，需要单独提交相关内容进行审核。</li>
            <li>10.所有参展物都需要拥有完整的图片版权或使用权，一旦发现盗用将进行严惩</li>
            <li>11.当日参展物品需要与申请表中内容保持一致</li>
            <li>12.本活动最终解释权为口袋同人社团-GDZ所有</li>
        </ul>
    </div>
    <div id="content-consigninfo" class="nodisplay-object content-page">
        <h3>寄卖须知</h3>
        <ul class="content-list">
            <li>1.寄卖价格：为当日售出物品总价的15%。请注意是售出物品，若寄卖商品在官方摊位上的销量小于1份则不收取费用</li>
            <li>2.申请截止于7.25。审核将会在提交后的两周内进行。通过与否都会在摊主通知页中进行反馈，请静候佳音。</li>
            <li>3.来回运费自理。</li>
            <li>4.提交申请时请同时提交寄卖物的80%的样品图或实物图</li>
            <li>5.活动开始前两周会通知接受物流的地址与时间</li>
            <li>6.寄卖物同类物品只统计总数量（例.挂件A款10个和B款20个将会直接统计成挂件30个）不接受单个物品单个定价。不符合要求的物品将不会放出寄卖。</li>
            <li>7.寄卖物包裹中需要放入自行的填写寄卖专用表（审核通过后会放出）。请与网站上提交的内容保持一致</li>
            <li>8.申请通过后工作人员将会来问您索要高分辨率的商品样图用于场刊制作，还请配合。</li>
            <li>9.面向人群分为大众向、女性向、男性向三类</li>
            <li>10.限制级即R18，需要单独提交相关内容进行审核。</li>
            <li>11.所有参展物都需要拥有完整的图片版权或使用权，一旦发现盗用将进行严惩</li>
            <li>12.本活动最终解释权为口袋同人社团-GDZ所有</li>
        </ul>
    </div>
    <div id="content-signup" class="nodisplay-object content-page">
        <h3>【注册】</h3>
        <div id="error-message">
            <p id="error-signup" class="error-message-text">{{ error_message_signup }}</p>
        </div>
        <form id="signup-input" action="{% url "stall:signup" %}" method="post" onsubmit="return false;">
            <div class="controls-group oneline-group">
                <label class="form-label" for="text-email">Email*</label>
                <input id="text-email" class="form-control form-text" type="email" name="email">
            </div>
            <div class="controls-group oneline-group">
                <label class="form-label" for="text-password">密码*</label>
                <input id="text-password" class="form-control form-text" type="password" name="password">
            </div>
            <div class="controls-group oneline-group">
                <label class="form-label" for="text-repassword">重复*</label>
                <input id="text-repassword" class="form-control form-text" type="password" name="repassword">
            </div>
            <div class="controls-group oneline-group">
                <label class="form-label" for="text-circle">社团名*</label>
                <input id="text-circle" class="form-control form-text" type="text" name="circle_name">
            </div>
            <div class="controls-group oneline-group">
                <label class="form-label">类型*</label>
                <div id="type-select" class="oneline-select form-control form-indent">
                    <div class="inline-control inline-control-two">
                        <input id="type-stall" type="radio" name="type" value="stall">
                        <label for="type-stall">摊位</label>
                    </div>
                    <div class="inline-control inline-control-two">
                        <input id="type-consign" type="radio" name="type" value="consign">
                        <label for="type-consign">寄卖</label>
                    </div>
                </div>
            </div>
            <div class="controls-group oneline-group">
                <label class="form-label">验证码*</label>
                <div id="signup_captcha" class="captcha-box form-control">
                    {{ signup_form.captcha }}
                </div>
            </div>
            <div class="controls-group oneline-group">
                <button id="signup-submit" class="button-submit form-control form-button" name="submit">提交</button>
            </div>
            {% csrf_token %}
            <input type="hidden" name="pmo" value="pmo2015">
        </form>
    </div>
    <div id="content-login" class="nodisplay-object content-page">
        <h3>【登录】</h3>
        <div id="error-message">
            <p id="error-login" class="error-message-text">{{ error_message_login }}</p>
        </div>
        <form id="login-input" action="{% url "stall:login" %}" method="post" onsubmit="return false;">
            <div class="controls-group oneline-group">
                <label class="form-label" for="text-email">Email</label>
                <input id="text-email" class="form-control form-text" type="email" name="email">
            </div>
            <div class="controls-group oneline-group">
                <label class="form-label" for="text-password">密码</label>
                <input id="text-password" class="form-control form-text" type="password" name="password">
            </div>
            <div class="controls-group oneline-group">
                <label class="form-label">验证码</label>
                <div id="login_captcha" class="captcha-box form-control">
                    {{ login_form.captcha }}
                </div>
            </div>
            <div class="controls-group oneline-group">
                <button id="login-submit" class="button-submit form-control form-button" name="submit">提交</button>
            </div>
            {% csrf_token %}
            <input type="hidden" name="pmo" value="pmo2015">
        </form>
    </div>
{% endblock %}

{% block panels %}
    <div id="switch-signup" class="pmo-panel switch-panel panel-red-r"><span>注册</span></div>
    <div id="switch-login" class="pmo-panel switch-panel panel-blue-r"><span>登录</span></div>
    <div id="switch-stallinfo" class="pmo-panel switch-panel panel-purple-r"><span>摊位须知</span></div>
    <div id="switch-consigninfo" class="pmo-panel switch-panel panel-yellow-r"><span>寄卖须知</span></div>
{% endblock %}