{% extends "pmo2015/base.html" %}
{% load staticfiles %}
{% block subtitle %}奖品一览 - 基本信息{% endblock %}
{% block stitle %}title-prize{% endblock %}
{% block content %}
    <h3>所有奖品将会在日后公开☆</h3>
    <h4 id="prize-battle">联机战斗</h4>
    <p>参与奖*128</p>
    <p>水舰熔岩代表奖*2</p>
    <p></p>
    <p>亚军奖*1</p>
    <p></p>
    <p>冠军奖*1</p>
    <p></p>
    <h4 id="prize-stage">舞台游戏</h4>
    <p>参与奖*34</p>
    <p></p>
    <p>获胜奖*34</p>
    <p></p>
    <h4 id="prize-venue">场地活动</h4>
    <p>答题正确*？</p>
    <p></p>
    <p>寻找树果*？</p>
    <p></p>
    <h4 id="prize-raffle">幸运抽奖</h4>
    <p>幸运奖*1</p>
    <p></p>
    <p>待更新</p>
{% endblock %}
