{% extends "pmo2015/base.html" %}
{% load staticfiles %}
{% block subtitle %}票务信息 - 基本信息{% endblock %}
{% block stitle %}title-ticket{% endblock %}
{% block content %}
    <h3>普通游客入场票</h3>
    <p>【预售】35r/人/份   【现场】50r/人/份</p>
    <p>入场票（每份）包含</p>
    <p>入场门票*1（可自选水舰队/熔岩团）</p>
    <p>抽奖券*1</p>
    <p>*场刊由工作人员在入口处按进场顺序一人一本派发，发完为止。</p>
    <h3>购买方式</h3>
    <p>【预售】2015.6.15 晚20:00 <a href="http://item.taobao.com/item.htm?id=520103353649" class="maintext-href">GDZ官方淘宝店-魔都PMO vol.2入场票</a></p>
    <p>【现场】2015.8.15 早8:30起 会场入口处贩售</p>
    <h4>备注</h4>
    <p>持有入场票证书的游客可以反复进出场</p>
    <p>【门票sample】将于二宣放出~</p>
{% endblock %}
