{% extends "pmo2015/base.html" %}
{% load staticfiles %}
{% block subtitle %}票务信息 - 基本信息{% endblock %}
{% block stitle %}title-ticket{% endblock %}
{% block content %}
    <h3>普通游客入场票</h3>
    <p>【预售】35r/人/份   【现场】45r/人/份</p>
    <p>入场票（每份）包含</p>
    <p>入场用水舰队/熔岩团入团证书*1（可自选加入团队）</p>
    <p>随机大吾/米可利纸模*1</p>
    <p>抽奖券*1</p>
    <p>*场刊由工作人员在入口处按进场顺序一人一本派发，发完为止。</p>
    <h3>购买方式</h3>
    <p>【预售】2015.7.3晚20:00 GDZ官方淘宝店-魔都PMO vol.2入场票【链接暂未开放】</p>
    <p>【现场】2015.8.15早8:30起 会场入口处贩售</p>
    <h4>备注</h4>
    <p>1.由于门票及特典数量有限，现场票贩售完毕后将开放贩售临时票30r/人（可以直接入场，没有入场票证书、特典和抽奖券，且离场后不可再进入）</p>
    <p>2.持有入场票证书的游客可以反复进出场</p>
    <p>【入场票证书sample及特典sample】将于二宣放出~</p>
{% endblock %}
