{% extends "pmo2015/base.html" %}
{% load staticfiles %}
{% block subtitle %}参展社团 - 现场摊位{% endblock %}
{% block stitle %}stall-circle{% endblock %}
{% block content %}
    {% static 'pmo2015/images/circle_image.png' as default_image %}
    <h3>【直参摊位】</h3>
    <div id="display-stalls" class="clear-group">
    {% for stall in stalls %}
        <div class="display-seller">
            <a href=".?type=stall&p={{ stall.pk }}" target="_blank"
               style="background-image: url('{% if stall.circle_image %}{{ stall.circle_image.url }}{% else %} {{ default_image }}{% endif %}');"
               class="seller-thumb img-href">{{ stall.circle_name }}</a>
            <div class="seller-title">
                <a href=".?type=stall&p={{ stall.pk }}" target="_blank" class="black">{{ stall.circle_name }}</a>
            </div>
        </div>
    {% empty %}
    <h4>暂时没有消息</h4>
    {% endfor %}
    </div>
    <div class="split-line"></div>
    <h3>【寄卖社团】</h3>
    <div id="display-consigns" class="clear-group">
    {% for consign in consigns %}
        <div class="display-seller">
            <a href=".?type=consign&p={{ consign.pk }}" target="_blank"
               style="background-image: url('{% if consign.circle_image %}{{ consign.circle_image.url }}{% else %} {{ default_image }}{% endif %}');"
               class="seller-thumb img-href">{{ consign.circle_name }}</a>
            <div class="seller-title">
                <a href=".?type=consign&p={{ consign.pk }}" target="_blank" class="black">{{ consign.circle_name }}</a>
            </div>
        </div>
    {% empty %}
    <h4>暂时没有消息</h4>
    {% endfor %}
    </div>
{% endblock %}
