{% extends "pmo2015/base.html" %}
{% load staticfiles %}
{% block more_heads %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/shadowbox.css' %}">
    <script type="text/javascript" src="{% static 'js/shadowbox.js' %}"></script>
{% endblock %}
{% block subtitle %}场地摊位图 - 现场摊位{% endblock %}
{% block stitle %}stall-diagram{% endblock %}
{% block content %}
    <h4>【现场摊位图】</h4>
    <div>
        <a id="diagram-image" rel="shadowbox" href="{% static "pmo2015/images/diagram.jpg" %}"
             style="background-image: url({% static "pmo2015/images/diagram.jpg" %});"></a>
    </div>
    <table id="diagram-table">
        <tr>
            <th colspan="2">熔岩团</th>
            <th colspan="2">水舰队</th>
        </tr>
        <tr>
            <td>01</td>
            <td>【大海对陆地，结果我第一】</td>
            <td>01~03</td>
            <td>百度神奇宝贝吧</td>
        </tr>
        <tr>
            <td>02~03</td>
            <td>GET DA☆ZE!</td>
            <td>04</td>
            <td>大师球批量生产委员会</td>
        </tr>
        <tr>
            <td>04</td>
            <td>人类振兴计划</td>
            <td>05</td>
            <td>肉饼罐头厂</td>
        </tr>
        <tr>
            <td>05</td>
            <td>黑心餅店</td>
            <td>06~07</td>
            <td>口袋工作室</td>
        </tr>
        <tr>
            <td>06</td>
            <td>进化辉石Eviolite</td>
            <td>08</td>
            <td>口袋病毒</td>
        </tr>
        <tr>
            <td>07~08</td>
            <td>甜馄饨</td>
            <td>09~10</td>
            <td>+POKE BOX+</td>
        </tr>
        <tr>
            <td>09</td>
            <td>星辰阁模型工作室</td>
            <td>11</td>
            <td>萌萌哒の瑞琬酱</td>
        </tr>
        <tr>
            <td>10</td>
            <td>WK口袋妖怪小分队</td>
            <td>12</td>
            <td>沙奈朵培育屋</td>
        </tr>
        <tr>
            <td>11</td>
            <td>火系我第一</td>
            <td>13~14</td>
            <td>咔嚓咔嚓赶制组</td>
        </tr>
        <tr>
            <td>12</td>
            <td>绝顶山珍双菇煲</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>13~14</td>
            <td>豆窝今年也塞满了皮神</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>15~16</td>
            <td>I LOVE EIEVUI</td>
            <td></td>
            <td></td>
        </tr>
    </table>
{% endblock %}
