{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% block more_heads %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/shadowbox.css' %}">
    <script type="text/javascript" src="{% static 'js/shadowbox.js' %}"></script>
{% endblock %}
{% block subtitle %}{{ seller.circle_name }} - 参展社团 - 现场摊位{% endblock %}
{% block stitle %}stall-circle-detail{% endblock %}
{% block content %}
    {% static 'dashboard/images/circle_image.png' as default_image %}
    <div id="seller-metas">
        <div id="seller-meta-left" class="seller-meta">
            <a id="seller-logo" rel="shadowbox" href="{% if seller.circle_image %}{{ seller.circle_image.url }}{% else %} {{ default_image }}{% endif %}"
                 style="background-image: url('{% if seller.circle_image %}{{ seller.circle_image.url }}{% else %} {{ default_image }}{% endif %}');"></a>
            <div id="seller-id">（摊位号：{{ seller.seller_id|default:'【暂无】' }}）</div>
        </div>
        <div id="seller-meta-right" class="seller-meta">
            <div id="seller-name">{{ seller.circle_name }}</div>
            <div id="seller-description">{{ seller.circle_description|linebreaksbr }}</div>
        </div>
    </div>
    <div class="split-line"></div>
    {% if items %}
        {% for item in items %}
        {% url 'dashboard:stall' 'item' item.pk as turl%}
        <div class="seller-item">
            <a href="{{ turl }}" target="_blank"
                 style="background-image: url('{% if item.cover_image %}{{ item.cover_image.url }}{% else %} {{ default_image }}{% endif %}');"
                 class="seller-item-cover seller-meta img-href">{{ item.name }}</a>
            <div class="seller-item-metas seller-meta">
                <div class="seller-item-meta"><a href="{{ turl }}" target="_blank" class="maintext-href">{{ item.name }}</a></div>
                <span class="seller-item-meta">价格：{% if item.price == -1 %}未定{% else %}{{ item.price|floatformat:2 }} 元{% endif %}</span>
                <span class="seller-item-meta">出品社团：{{ item.circle }}</span>
                <span class="seller-item-intro">简介：{{ item.introduction|linebreaksbr }}</span>
            </div>
        </div>
        {% endfor %}
    {% if prev %} <a class="maintext-href news-nav news-prev" href=".?p={{ seller.pk }}&page={{ prev }}">上一页</a>{% endif %}
    {% if next %} <a class="maintext-href news-nav news-next" href=".?p={{ seller.pk }}&page={{ next }}">下一页</a>{% endif %}
    {% else %}
    <h3>【暂无商品信息】</h3>
    {% endif %}
{% endblock %}
