<!DOCTYPE html>{% load staticfiles %}
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" type="image/png"
          href="{% block icon %}{% static 'pmo2016/images/favicon.ico' %}{% endblock %}">
    <title>魔都PMO2016</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pmo2016/css/home.css' %}">
    <script type="text/javascript" src="{% static 'js/vue.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pmo2016/js/home.js' %}"></script>
</head>
<body>
<div id="main-container">
    <div id="bg-leftright" class="bg-element" v-show="welcome.bgLeftRight" transition="welcomeLeftRight"></div>
    <div id="year20th" class="bg-element" v-show="welcome.pikachu" transition="welcomePikachu"></div>
    <div id="pikachu" class="bg-element" v-show="welcome.pikachu" transition="welcomePikachu"></div>
    <div id="year1996" class="bg-element" v-show="welcome.bgYears" transition="welcomeYearLeft"></div>
    <div id="year2016" class="bg-element" v-show="welcome.bgYears" transition="welcomeYearRight"></div>
    <div id="gb" v-show="welcome.gb" transition="welcomeGB">
        <div id="gb-screen" v-bind:style="screenStyle" v-show="welcome.gbScreen" transition="welcomeGBScreen">
            <img id="hero" v-bind:src="heroImage" v-bind:style="heroStyle">
            <div id="select" v-bind:style="selectStyle">
                << select.options[0] >><br>
                << select.options[1] >><br>
                << select.options[2] >><br>
                << select.options[3] >>
            </div>
            <img id="select-cursor" src="{% static 'pmo2016/images/select-cursor.svg' %}"
                 v-bind:style="selectCursorStyle">
            <div id="yesno" v-bind:style="yesnoStyle"><< yesno.yes >><br><< yesno.no >></div>
            <img id="yesno-cursor" src="{% static 'pmo2016/images/select-cursor.svg' %}"
                 v-bind:style="yesnoCursorStyle">
            <div id="dialog" v-bind:style="dialogStyle">{!! dialog.message !!}</div>
            <img id="dialog-cursor" src="{% static 'pmo2016/images/dialog-cursor.svg' %}"
                 v-bind:style="dialogCursorStyle">
            <div id="menu" v-bind:style="menuStyle">{!! menu.message !!}</div>
            <img id="menu-cursor" src="{% static 'pmo2016/images/select-cursor.svg' %}"
                 v-bind:style="menuCursorStyle">
            <div id="submenu" v-bind:style="submenuStyle">{!! menu.submenu.message !!}</div>
            <img id="submenu-cursor" src="{% static 'pmo2016/images/select-cursor.svg' %}"
                 v-bind:style="submenuCursorStyle">
        </div>
        <div id="gb-buttons" v-bind:style="buttonsStyle" v-on:click="buttonPressed">
        </div>
    </div>
</div>
</body>
</html>
