<!DOCTYPE html>{% load staticfiles %}
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% block icon %}{% static 'images/favicon.ico' %}{% endblock %}">
    <title>{% block title %}Untitled{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    {% block heads %}{% endblock %}
</head>
<body{% block bodytype %}{% endblock %}>
    {% block body %}
    {% endblock %}
</body>
</html>
