{% extends "base.html" %}
{% load staticfiles %}
{% block heads %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<script type="text/javascript" src="{% static 'js/autosize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
{% block title %}GET DA☆ZE!{% endblock %}
{% block body %}
<div id="main-container">
    <div id="main-content-bg" class="hidden-object">
        <div id="main-content">
            <div id="main-left" class="main-side">
                <div id="main-hrefs">
                    <div id="href-pmo" class="clear-group href-object href-pmo">
                        <a href="/pmo2022">
                            <img id="href-pmo-icon" src="{% static 'images/logo-pmo2022.png' %}"
                                 class="href-icon hidden-object">
                            <span>PMO2022 - 梦天庆典</span>
                        </a>
                    </div>
                    <div id="href-pmos" class="clear-group href-object">
                        历届魔都 PMO
                    </div>
                </div>
                <div id="sub-hrefs" class="nodisplay-object">
                    <div id="href-back" class="clear-group href-object">
                        返回
                    </div>
                    <div id="href-pmo2021" class="clear-group href-object href-pmo">
                        <a href="/pmo2021">
                            <img id="href-pmo2021-icon" src="{% static 'images/logo-pmo2021.png' %}"
                                 class="href-icon hidden-object">
                            <span>PMO2021 - Oh My Passion!!!</span>
                        </a>
                    </div>
                    <div id="href-pmo2019" class="clear-group href-object href-pmo">
                        <a href="/pmo2019">
                            <img id="href-pmo2019-icon" src="{% static 'images/logo-pmo2019.png' %}"
                                 class="href-icon hidden-object">
                            <span>PMO2019 - 玉虹夏日祭</span>
                        </a>
                    </div>
                    <div id="href-pmo2018" class="clear-group href-object href-pmo">
                        <a href="/pmo2018">
                            <img id="href-pmo2018-icon" src="{% static 'images/logo-pmo2018.png' %}"
                                 class="href-icon hidden-object">
                            <span>PMO2018 - 彩虹！彩虹色的明天在等待！</span>
                        </a>
                    </div>
                    <div id="href-pmo2017" class="clear-group href-object href-pmo">
                        <a href="/pmo2017">
                            <img id="href-pmo2017-icon" src="{% static 'images/logo-pmo2017.png' %}"
                                 class="href-icon hidden-object">
                            <span>PMO2017 - 欢迎来到阿罗拉</span>
                        </a>
                    </div>
                    <div id="href-pmo2016" class="clear-group href-object href-pmo">
                        <a href="/pmo2016">
                            <img id="href-pmo2016-icon" src="{% static 'pmo2016/images/logo.png' %}"
                                 class="href-icon hidden-object">
                            <span>PMO2016 - 相连</span>
                        </a>
                    </div>
                    <div id="href-pmo2015" class="clear-group href-object href-pmo">
                        <a href="/pmo2015">
                            <img id="href-pmo2015-icon" src="{% static 'pmo2015/images/logo.png' %}"
                                 class="href-icon hidden-object">
                            <span>PMO2015 - 大海对陆地 结果我第一</span>
                        </a>
                    </div>
                </div>
                <!-- 没想好用什么线
                <div id="main-line-horizontal" class="main-line"></div>
                <div id="main-line-vertical" class="main-line"></div>
                -->
            </div>
            <div id="main-right" class="main-side">
                <img id="home-picture" src="{% static 'images/homepic.png' %}">
                <img id="home-copyright" src="{% static 'images/copyright.png' %}">
            </div>
        </div>
    </div>
    <div id="ball-redhalf" class="ball-half">
        <div id="ball-redhalf-bg" class="ball-half-bg"></div>
        <div id="ball-redhalf-line" class="ball-half-line"></div>
        <div id="ball-redhalf-circle" class="ball-half-circle"></div>
    </div>
    <div id="ball-whitehalf" class="ball-half">
        <div id="ball-whitehalf-line" class="ball-half-line"></div>
        <div id="ball-whitehalf-bg" class="ball-half-bg"></div>
        <div id="ball-whitehalf-circle" class="ball-half-circle"></div>
    </div>
</div>
{% endblock %}
