{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% block subtitle %}{% endblock %} - Pokemon Only 2015{% endblock %}
{% block heads %}
    <link rel="stylesheet" type="text/css" href="{% static 'pmo2015/css/pmo2015.css' %}">
    <script type="text/javascript" src="{% static 'pmo2015/js/pmo2015.js' %}"></script>
    {% block more_heads %}{% endblock %}
{% endblock %}
{% block body %}
    <header id="pmo-header">
        <div id="header-container">
            <div id="logo" class="global-nav">
                <a href="{% url 'pmo2015:home' %}" class="logo-href img-href"><span class="logo">home</span></a>
            </div>
            <ul id="nav-hrefs" class="global-nav">
                <li id="nav-baseinfo"><a href="{% url 'pmo2015:baseinfo' %}" class="nav-href">基本信息</a></li>
                <li id="nav-stall"><a href="{% url 'pmo2015:stall' %}" class="nav-href">现场摊位</a></li>
                <li id="nav-event"><a href="{% url 'pmo2015:event' %}" class="nav-href">现场活动</a></li>
                <li id="nav-register"><a href="{% url 'pmo2015:register' %}" class="nav-href">在线报名</a></li>
                <li id="nav-news"><a href="{% url 'pmo2015:news' %}" class="nav-href">PMO新闻</a></li>
                <li id="nav-qabook"><a href="{% url 'pmo2015:qabook' %}" class="nav-href">QA留言板</a></li>
            </ul>
        </div>
        <div id="header-border"></div>
    </header>
    <div id="main-container">
        <div id="sub-container">
            <div id="sub-header" class="sub-object"></div>
            <div id="sub-content" class="sub-object"></div>
            <div id="sub-footer" class="sub-object"></div>
        </div>
        <div id="main-content">
            <div id="content">
                {% block content %}Maintaining{% endblock %}
            </div>
        </div>
        <div id="pmo-backicon"></div>
    </div>
    <footer id="pmo-footer"></footer>
{% endblock %}
