{% extends "base.html" %}
{% load staticfiles %}
{% block heads %}
    <link rel="stylesheet" type="text/css" href="{% static 'pmo2015/css/pmo2015.css' %}">
    <script type="text/javascript" src="{% static 'pmo2015/js/home.js' %}"></script>
{% endblock %}
{% block title %}Pokemon Only 2015{% endblock %}
{% block bodytype %} id="home-body"{% endblock %}
{% block body %}
    <header id="home-header">
        <div id="home-header-line"></div>
        <div id="home-header-wb"><a href="http://weibo.com/SHPMO" class="img-href"><span>weibo</span></a></div>
    </header>
    <div id="home-main-container">
        <div id="home-panels">
            <div id="nav-return" class="pmo-panel home-panel panel-red">
                <a href="/" class="panel-href">
                    <span>返回主页</span>
                </a>
            </div>
            <div id="nav-ticket" class="pmo-panel home-panel panel-purple">
                <a href="{% url 'pmo2015:baseinfo' 'ticket' %}" class="panel-href">
                    <span>购票链接</span>
                </a>
            </div>
            <div id="nav-ticket" class="pmo-panel home-panel panel-blue">
                <a href="{% url 'pmo2015:qabook' 'guestbook' %}" class="panel-href">
                    <span>联系我们</span>
                </a>
            </div>
        </div>
        <div id="home-content">
            <div id="home-content-tv">
                <div id="tv-title"></div>
                <div id="tv-off"></div>
                <div id="tv-dialog">
                    <div id="tv-nise-hostess"></div>
                </div>
                <div id="tv-ins"></div>
                <div id="tv-hostess">
                    <div id="hostess-izumi-o" class="hostess-izumi hostess"></div>
                    <div id="hostess-izumi-c" class="hostess-izumi hostess"></div>
                    <div id="hostess-kagari-o" class="hostess-kagari hostess"></div>
                    <div id="hostess-kagari-c" class="hostess-kagari hostess"></div>
                </div>
                <div id="tv-section">
                    <div id="tv-icon-izumi" class="tv-icon hidden-object"></div>
                    <div id="tv-icon-kagari" class="tv-icon hidden-object"></div>
                    <div id="tv-section-baseinfo" class="tv-section-text">
                        <span>基本信息</span>
                    </div>
                    <div id="tv-section-stall" class="tv-section-text">
                        <span>现场摊位</span>
                    </div>
                    <div id="tv-section-event" class="tv-section-text">
                        <span>现场活动</span>
                    </div>
                    <div id="tv-section-register" class="tv-section-text">
                        <span>在线报名</span>
                    </div>
                    <div id="tv-section-news" class="tv-section-text">
                        <span>PMO新闻</span>
                    </div>
                    <div id="tv-section-qabook" class="tv-section-text">
                        <span>QA留言板</span>
                    </div>
                </div>
                <div id="tv-selection"></div>
                <div id="tv-sentence"></div>
            </div>
            <div id="home-content-bottom">
                <div id="home-mascots">
                    <div id="mascot-left" class="mascot"></div>
                    <div id="mascot-right" class="mascot"></div>
                </div>
                <div id="home-vote">
                    <div id="vote-team-aq" class="vote-area vote-part">
                        <div id="vote-aq-href" class="vote-aq vote-href"></div>
                        <span class="vote-aq vote-text">（点击即可投票）</span>
                        <div id="vate-aq-bar" class="vote-aq vote-bar"></div>
                    </div>
                    <div id="vote-vs" class="vote-area"></div>
                    <div id="vote-team-mg" class="vote-area vote-part">
                        <div id="vote-mg-href" class="vote-mg vote-href"></div>
                        <span class="vote-mg vote-text">（点击即可投票）</span>
                        <div id="vate-mg-bar" class="vote-mg vote-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="home-footer">
        <div id="home-footer-left" class="home-footer-part home-footer-side"></div>
        <div id="home-footer-center" class="home-footer-part">
            <div id="home-footer-center-top"></div>
            <div id="home-footer-center-bottom"></div>
        </div>
        <div id="home-footer-right" class="home-footer-part home-footer-side"></div>
    </footer>
{% endblock %}