{% extends "base.html" %}
{% load staticfiles %}
{% block heads %}
    <link rel="stylesheet" type="text/css" href="{% static 'pmo2015/css/pmo2015.css' %}">
    <script type="text/javascript" src="{% static 'pmo2015/js/home.js' %}"></script>
{% endblock %}
{% block title %}Pokemon Only 2015{% endblock %}
{% block bodytype %} id="home-body"{% endblock %}
{% block body %}
    <header id="home-header">
        <div id="home-header-line"></div>
        <div id="home-header-wb"><a href="{{ weibo_url }}" class="img-href"><span>weibo</span></a></div>
    </header>
    <div id="home-main-container">
        <div id="home-panels">
            <div id="nav-return" class="pmo-panel home-panel panel-red">
                <a href="/" class="panel-href">
                    <span>返回主页</span>
                </a>
            </div>
            <div id="nav-ticket" class="pmo-panel home-panel panel-purple">
                <a href="{% url 'pmo2015:baseinfo' 'ticket' %}" class="panel-href">
                    <span>购票链接</span>
                </a>
            </div>
            <div id="nav-ticket" class="pmo-panel home-panel panel-blue">
                <a href="{% url 'pmo2015:qabook' 'guestbook' %}" class="panel-href">
                    <span>联系我们</span>
                </a>
            </div>
        </div>
        <div id="home-content">
            <div id="home-content-tv">
                <div id="tv-title"></div>
                <div id="tv-off"></div>
            </div>
            <div id="home-content-bottom">
                <div id="home-mascots">
                    <div id="mascot-left" class="mascot"></div>
                    <div id="mascot-right" class="mascot"></div>
                </div>
                <div id="home-vote" data-url="{% url "pmo2015:api" "vote" %}">
                    <div id="vote-team-aq" class="vote-area vote-part">
                        <div id="vote-aq-href" class="vote-aq vote-href"></div>
                        <span class="vote-aq vote-text">（点击即可投票）</span>
                        <div id="vote-aq-bar" class="vote-aq vote-bar">
                            <div id="vote-aq-bar-content" class="vote-bar-content" data-vote="{{ vote_aq }}"></div>
                            <span id="vote-value-aq" class="vote-value"></span>
                        </div>
                    </div>
                    <div id="vote-vs" class="vote-area"></div>
                    <div id="vote-team-mg" class="vote-area vote-part">
                        <div id="vote-mg-href" class="vote-mg vote-href"></div>
                        <span class="vote-mg vote-text">（点击即可投票）</span>
                        <div id="vote-mg-bar" class="vote-mg vote-bar">
                            <div id="vote-mg-bar-content" class="vote-bar-content" data-vote="{{ vote_mg }}"></div>
                            <span id="vote-value-mg" class="vote-value"></span>
                        </div>
                    </div>
                    {% csrf_token %}
                </div>
            </div>
        </div>
    </div>
    <footer id="home-footer">
        <div id="home-footer-left" class="home-footer-part home-footer-side"></div>
        <div id="home-footer-center" class="home-footer-part">
            <div id="home-footer-center-top"></div>
            <div id="home-footer-center-bottom"></div>
        </div>
        <div id="home-footer-right" class="home-footer-part home-footer-side"></div>
    </footer>
{% endblock %}