{% extends "base.html" %}
{% load staticfiles %}
{% block heads %}
    <link rel="stylesheet" type="text/css" href="{% static 'pmo2015/css/pmo2015.css' %}">
    <script type="text/javascript" src="{% static 'pmo2015/js/home.js' %}"></script>
{% endblock %}
{% block body %}
    <header id="home-header">
        <div id="home-header-line"></div>
    </header>
    <div id="home-main-container">

    </div>
    <footer id="home-footer">
        <div id="home-footer-left"></div>
        <div id="home-footer-center"></div>
        <div id="home-footer-right"></div>
    </footer>
{% endblock %}