{% extends "pmo2015/base.html" %}
{% load staticfiles %}
{% block subtitle %}联机对战 - 现场活动{% endblock %}
{% block stitle %}event-battle{% endblock %}
{% block content %}
    <h2>水舰队vs熔岩团 第一回合战</h2>
    <p><strong>战斗开始时间</strong>：10:00决战后冠军所属的团队取得本回合胜利</p>
    <h3>【比赛规则】</h3>
    <h4>*基本规则</h4>
    <p>本次比赛规则为VGC2015，即ORAS排位赛双打模式</p>
    <h4>*PM与道具</h4>
    <p>可使用PM范围为全国图鉴编号No.001-No.719，以下PM除外：超梦、梦幻、洛奇亚、凤王、雪拉比、盖欧卡、固拉多、烈空坐、基拉祈、代欧奇希斯、帝牙卢卡、帕路奇犽、骑拉帝纳、霏欧纳、玛纳霏、达克莱伊、洁咪、阿尔宙斯、比克提尼、雷希拉姆、捷克罗姆、酋雷姆、凯路迪欧、美洛耶塔、盖诺赛克特、哲尔尼亚斯、伊裴尔塔尔、基格尔德、蒂安希</p>
    <p>禁止PM全国图鉴编号重复，禁止道具重复，禁止心之水滴</p>
    <p>使用的PM必须为X/Y/OR/AS中捕捉、从蛋中孵化、神秘礼物接受的PM，不可使用从黑/白/黑2/白2联动传送而来的PM</p>
    <p>禁止使用理论上不可能的PM与道具</p>
    <h4>*队伍锁定</h4>
    <p>参赛用PM需放入战斗箱，在比赛期间不得进行任何更改</p>
    <h4>*对战模式</h4>
    <p>双打，并选择Flat规则（フラットルール），注意在此模式下低于50级的PM不会被调整到50级，高于50级的PM将被调整到50级</p>
    <h4>*比赛限时</h4>
    <p>每场比赛限时15分钟，每回合决定行动所用时间不得超过40秒，违反2次者直接判负</p>
    <p>在对战时间超过15分钟未分出胜负的情况下，依次根据剩余PM数量、剩余PM的HP百分比之和、剩余PM的HP数值之和判断胜负，若参赛者无法自行判断，请及时呼叫裁判进行裁决</p>
    <p>违反上述任意规则者将被取消比赛资格</p>
    <h3>【网上报名阶段】</h3>
    <p>在7月25日24:00前完成<a href="{% url 'pmo2015:register' 'battle' %}" class="maintext-href">在线报名</a>，经工作人员回复邮件确认后报名成功</p>
    <p>网上报名人数限制为100人</p>
    <h3>【现场确认与报名阶段】</h3>
    <p>参赛者限定128人，每个小组4人，共分为32个小组，对战区分为4个分区（熔岩A队，熔岩B队，水舰A队，水舰B队，具体分组由工作人员安排），每个对战分区含8个小组</p>
    <p>现场报名限28人，若网上报名人数不足100人，则剩余数量加入现场报名人数中</p>
    <p>参赛者在现场填写参赛ID、游戏内玩家名与所使用的6只PM（请使用中文、日文或英文官方译名填写）并向各区工作人员提交以确认参赛</p>
    <p>若实际参赛者不足128人，则部分小组人数从4人减至3人</p>
    <h3>【小组赛阶段】</h3>
    <p>每个小组4人互相之间各进行一场对战，小组头名晋级淘汰赛</p>
    <h4>*小组晋级的判定方式</h4>
    <p>1.小组比赛全部结束后，小组内胜场最多者晋级</p>
    <p>2.若有2位参赛者同为胜场最多，则小组赛中互相交战时的胜者晋级</p>
    <p>3.若有3位参赛者同为胜场最多，则3位参赛者中队伍种族值之和最低者晋级</p>
    <p>4.在3的前提下，若有2位参赛者队伍种族值之和同为最低，则小组赛中互相交战时的胜者晋级</p>
    <p>5.在3的前提下，若3位参赛者队伍种族值之和相同，则通过抽签决定晋级者</p>
    <h4>*小组集合</h4>
    <p>对战区根据分区共设4个集合点，参赛者根据各自所属的分区在10:00前至对应地点集合，小组内所有参赛者到齐后可一同前往其它空地开始小组赛</p>
    <p>未在10:05前到达集合点与其它组内成员汇合的参赛者将被取消比赛资格</p>
    <h4>*结果通报</h4>
    <p>建议各组在小组赛全部结束后一同前往各自分区的集合点向工作人员通报全部比赛结果，同时确定小组晋级者</p>
    <p>若需要通过参赛者队伍种族值之和来判断晋级者，则将由工作人员进行计算并确定小组晋级者</p>
    <h3>【淘汰赛阶段】</h3>
    <p>从小组赛晋级的32位玩家进行1局1胜的淘汰赛，决出4个区各自的晋级者</p>
    <h3>【火岩队队内决赛阶段】</h3>
    <p>熔岩A队的胜者与熔岩B队的胜者进行熔岩团团内决赛，并有直播</p>
    <h3>【水舰队队内决赛阶段】</h3>
    <p>水舰A队的胜者与水舰B队的胜者进行水舰队队内决赛，并有直播</p>
    <h3>【最终决赛阶段】</h3>
    <p>熔岩队冠军与水舰队冠军进行最终决赛，并有直播</p>
    <p>*注：比赛限时规则不适用于最终决赛</p>
    <h3>【战斗区奖品】</h3>
    <p><a href="{% url 'pmo2015:baseinfo' 'prize' %}" class="maintext-href">点我查看</p>
{% endblock %}
