{% extends "pmo2015/base.html" %}
{% load staticfiles %}
{% block subtitle %}场地活动 - 现场活动{% endblock %}
{% block stitle %}event-venue{% endblock %}
{% block content %}
    <h4>【大误算先生也想不到答案的问题集】</h4>
    <p>我们将在在会场某个区域贴上一系列奇怪的问题，训练师们若是知道答案可以将该问题纸撕下，带着问题纸前往官摊，向负责的水舰队/熔岩团队员进行解答。回答正确可以获得奖品。回答错误请将问题纸贴回原来所在的地方。</p>
    <p>可以反复答题。但是在知道答案前请不要撕下问题纸，也请不要独占撕下的问题纸很长时间。以免给其他训练师带来麻烦☆</p>
    <h4>【寻找树果大作战】</h4>
    <p>场内散布着各种形式的树果。找到它们并将它们带去官摊兑换相应的奖品吧！也可以去官摊向队员们询问还有多少树果没被采集到哟</p>
    <p>树果与对应奖品请<a href="{% url 'pmo2015:baseinfo' 'prize' %}" class="maintext-href">点我查看</a></p>
    <h4>【涂鸦墙】</h4>
    <p>去年等离子团团员设置的涂鸦墙倍受好评，所今年水舰队和熔岩团也不甘落后地准备了涂鸦墙哦！会画画的角虫们都去一展身手吧！不会画画的也欢迎写下本命的名字哦！实在不知道写什么的，要不要留下fc和联系方式呢？</p>
    <h4>【留言本】</h4>
    <p>（需自备笔）</p>
    <p>有什么话想对主办说？有什么意见或建议？我们有什么可以改进的地方？</p>
    <p>或者可以夸夸哪个coser好看？哪个游戏好玩？哪个摊位的东西好？</p>
    <p>又或者玩得开心吗？擦到了多少人？喜欢水舰队还是熔岩团？</p>
    <p>不管是什么都可以写在留言本上！留下联系方式的话可能会有惊喜哟！？</p>
{% endblock %}
