{% extends "pmo2015/base.html" %}
{% load staticfiles %}
{% block subtitle %}{{ news.title }} - PMO新闻{% endblock %}
{% block stitle %}news-news{% endblock %}
{% block content %}
    {% if news %}
        <h3 class="news-title">{{ news.title }}</h3>
        <div class="news-meta">
            <span class="news-author">{{ news.user.nickname }}</span>
            <span class="news-datetime">{{ news.gen_time }}</span>
        </div>
        <div class="news-content">
            {{ news.content|linebreaks }}
        </div>
    {% else %}
        <h3>不存在此新闻</h3>
    {% endif %}
{% endblock %}
