span {
    margin-left: 1em;
}
p {
    line-height: 1.5em;
    margin-bottom: 1.5em;
    text-indent: 1em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
td {
    text-indent: 0.5em;
}
tr {
    line-height: 1.5em;
}
#pmo-header {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 74px;
    min-width: 980px;
    background: #ffffff;
}
#pmo-footer {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 328px;
    background: url("../images/footer.png") repeat-x center;
    min-width: 980px;
}
#header-container {
    width: 980px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
}
.global-nav {
    float: left;
}
#logo {
    width: 100px;
    height: 100%;
}
.logo {
    display: block;
    height: 37px;
    background: url('../images/logo.png') no-repeat;
}
.logo-href {
    display: block;
    margin-top: 16px;
    height: 37px;
}
.nav-href {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    float: left;
    height: 64px;
    width: 100%;
    line-height: 64px;
    cursor: pointer;
}
.nav-list {
    float: left;
    height: 100%;
    width: 140px;
}
.subnav-hrefs {
    position: absolute;
    top: 74px;
    margin-left: -10px;
    height: auto;
    width: 160px;
    border: 2px solid #8589a4;
    border-top-width: 0;
    border-radius: 1px;
}
.subnav-list {
    text-align: center;
    width: 100%;
    height: 40px;
    border-bottom: #8589a4 dashed 2px;
    background: #ffffff;
}
.subnav-list:hover {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background: #838ba3;
}
.subnav-list:hover .subnav-href {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    color: #ffffff;
}
.subnav-list-last {
    border: none;
}
.subnav-href {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #351e0c;
}
#header-border {
    height: 10px;
    width: 100%;
    background: -moz-linear-gradient(left, #8589a4, #a9def1);
    background: -webkit-linear-gradient(left, #8589a4, #a9def1);
    background: linear-gradient(to right, #8589a4, #a9def1);
}

#main-container {
    height: 100%;
    min-width: 980px;
    background: url("../images/bg.png");
    margin-bottom: -328px;
}
#pmo-backicon {
    z-index: 1;
    width: 345px;
    height: 295px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -172px;
    margin-top: -190px;
    background: url("../images/bgicon.png");
}
#sub-container {
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -436px;
    width: 871px;
}
.sub-object {
    position: absolute;
}
#sub-title {
    z-index: 1;
    top: 23px;
    right: -25px;
    background: url("../images/subtitle.png") no-repeat;
    width: 102px;
    height: 249px;
}
#sub-header {
    top: 0;
    width: 100%;
    height: 253px;
    background: url("../images/cheader.png") no-repeat;
}
#sub-footer {
    bottom: 0;
    width: 100%;
    height: 253px;
    background: url("../images/cfooter.png") no-repeat;
}
#sub-content {
    top: 252px;
    width: 100%;
    background: url("../images/ccontent.png") repeat-y;
}
#main-content {
    position: absolute;
    width: 660px;
    left: 50%;
    top: 162px;
    margin-left: -336px;
    border: 5px solid #4a4949;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 4px rgba(74, 75, 75, 0.58);
    -moz-box-shadow: 4px 4px 4px rgba(74, 75, 75, 0.58);
    box-shadow: 4px 4px 4px rgba(74, 75, 75, 0.58);
    background-color: rgba(248, 248, 248, 0.75);
}
#content {
    position: relative;
    z-index: 1;
    margin: 30px 40px 120px 40px;
}
.maintext-href {
    color: #ff3636;
}
.maintext-href:hover {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #e4f190;
}

#subtitle {
    z-index: 2;
    height: 100%;
    width: 100%;
    font-weight: bold;
    text-shadow: 0 0 4px #000000;
    font-size: 24px;
    color: #ffffff;
}
div#subtitle::before {
    position: absolute;
    width: 24px;
}
div#subtitle::after {
    position: absolute;
    width: 24px;
}

div.title-schedule::before {
    content: "活动时间与";
    right: 22px;
    top: 25px;
}
div.title-schedule::after {
    content: "当日行程";
    left: 23px;
    top: 87px;
}
div.title-place::before {
    content: "场地信息";
    right: 39px;
    top: 50px;
}
div.title-ticket::before {
    content: "票务信息";
    right: 39px;
    top: 50px;
}
div.title-prize::before {
    content: "奖品一览";
    right: 39px;
    top: 50px;
}
div.stall-diagram::before {
    content: "现场摊位";
    right: 39px;
    top: 50px;
}
div.event-battle::before {
    content: "联机对战";
    right: 39px;
    top: 50px;
}
div.event-stage::before {
    content: "舞台游戏";
    right: 39px;
    top: 50px;
}
div.event-venue::before {
    content: "场地活动";
    right: 39px;
    top: 50px;
}
div.event-raffle::before {
    content: "幸运抽奖";
    right: 39px;
    top: 50px;
}
div.faq-qabook::before {
    content: "常见Q & A";
    right: 39px;
    top: 50px;
}

.content-list li{
    margin-bottom: 1.5em;
}
