p {
    line-height: 1.5em;
    margin: 0 0 1.5em;
    text-indent: 2em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}

#pmo-header {
    z-index: 4;
    position: relative;
    width: 100%;
    height: 74px;
    min-width: 980px;
    background: #ffffff;
}
#pmo-footer {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 328px;
    background: url("../images/footer.png") repeat-x center;
    min-width: 980px;
}

#header-container {
    width: 980px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
}
.global-nav {
    float: left;
}
#logo {
    width: 100px;
    height: 100%;
    overflow: hidden;
}
.logo {
    display: block;
    height: 34px;
    background: url('../images/logo.png') no-repeat;
    width: 40px;
}
.logo-href {
    padding-top: 16px;
}
.nav-href {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    float: left;
    height: 64px;
    width: 100%;
    line-height: 64px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
a.nav-href {
    cursor: pointer;
}
.nav-list {
    float: left;
    height: 100%;
    width: 140px;
}
.subnav-hrefs {
    position: absolute;
    top: 74px;
    margin-left: -12px;
    height: auto;
    width: 160px;
    border: 2px solid #8589a4;
    border-top-width: 0;
    border-radius: 1px;
}
.subnav-list {
    text-align: center;
    width: 100%;
    height: 40px;
    border-bottom: #8589a4 dashed 2px;
    background: #ffffff;
}
.subnav-list:hover {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background: #838ba3;
}
.subnav-list:hover .subnav-href {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    color: #ffffff;
}
.subnav-list-last {
    border: none;
}
.subnav-href {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #351e0c;
}
#header-border {
    height: 10px;
    width: 100%;
    background: -moz-linear-gradient(left, #8589a4, #a9def1);
    background: -webkit-linear-gradient(left, #8589a4, #a9def1);
    background: linear-gradient(to right, #8589a4, #a9def1);
}

#main-container {
    height: 100%;
    min-width: 980px;
    background: url("../images/bg.png");
    margin-bottom: -328px;
}
#pmo-backicon {
    z-index: 1;
    width: 345px;
    height: 295px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -172px;
    margin-top: -190px;
    background: url("../images/bgicon.png");
}
#sub-container {
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -436px;
    width: 871px;
}
.sub-object {
    position: absolute;
}
#sub-title {
    z-index: 1;
    top: 23px;
    right: -25px;
    background: url("../images/subtitle.png") no-repeat;
    width: 102px;
    height: 249px;
}
#sub-header {
    top: 0;
    width: 100%;
    height: 253px;
    background: url("../images/cheader.png") no-repeat;
}
#sub-footer {
    bottom: 0;
    width: 100%;
    height: 253px;
    background: url("../images/cfooter.png") no-repeat;
}
#sub-content {
    top: 252px;
    width: 100%;
    background: url("../images/ccontent.png") repeat-y;
}
#main-content {
    position: absolute;
    width: 660px;
    left: 50%;
    top: 162px;
    margin-left: -336px;
    border: 5px solid #4a4949;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 4px rgba(74, 75, 75, 0.58);
    -moz-box-shadow: 4px 4px 4px rgba(74, 75, 75, 0.58);
    box-shadow: 4px 4px 4px rgba(74, 75, 75, 0.58);
    background-color: rgba(248, 248, 248, 0.75);
}
#content-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(248, 248, 248, 0.5);
}
#content {
    position: relative;
    z-index: 3;
    padding: 0 40px 120px 40px;
}
.content-list span, #intro-area span {
    margin-left: 1em;
}
.maintext-href {
    color: #ff3636;
}
.maintext-href:hover {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #e4f190;
}

#subtitle {
    z-index: 1;
    height: 100%;
    width: 100%;
    font-weight: bold;
    text-shadow: 0 0 4px #000000;
    font-size: 1.5em;
    color: #ffffff;
}
#subtitle::before {
    text-align: center;
    position: absolute;
    width: 24px;
}
#subtitle::after {
    text-align: center;
    position: absolute;
    width: 24px;
}

.title-schedule::before {
    content: "活动时间与";
    right: 22px;
    top: 25px;
}
.title-schedule::after {
    content: "当日行程";
    left: 23px;
    top: 87px;
}
.title-place::before {
    content: "场地信息";
    right: 39px;
    top: 50px;
}
.title-ticket::before {
    content: "票务信息";
    right: 39px;
    top: 50px;
}
.title-prize::before {
    content: "奖品一览";
    right: 39px;
    top: 50px;
}
.stall-diagram::before {
    content: "现场摊位";
    right: 39px;
    top: 50px;
}
.stall-circle::before {
    content: "参展社团";
    right: 39px;
    top: 50px;
}
.stall-items::before {
    content: "参展贩售物";
    right: 39px;
    top: 44px;
}
.register-battle::before {
    content: "对战报名";
    right: 39px;
    top: 50px;
}
.register-signupin::before {
    content: "注册登录";
    right: 39px;
    top: 50px;
}
.register-stall::before {
    content: "摊位申请";
    right: 39px;
    top: 50px;
}
.register-consign::before {
    content: "寄卖申请";
    right: 39px;
    top: 50px;
}
.event-battle::before {
    content: "联机对战";
    right: 39px;
    top: 50px;
}
.event-stage::before {
    content: "舞台游戏";
    right: 39px;
    top: 50px;
}
.event-venue::before {
    content: "场地活动";
    right: 39px;
    top: 50px;
}
.event-raffle::before {
    content: "幸运抽奖";
    right: 39px;
    top: 50px;
}
.news-newslist::before {
    content: "新闻列表";
    right: 39px;
    top: 50px;
}
.news-news::before {
    content: "P M O新闻";
    right: 39px;
    top: 40px;
}
.faq-qabook::before {
    content: "常见Q & A";
    right: 39px;
    top: 50px;
}
.faq-manner::before {
    content: "参展礼仪";
    right: 22px;
    top: 40px;
}
.faq-manner::after {
    content: "与建议";
    left: 23px;
    top: 110px;
}
.faq-guestbook::before {
    content: "留言板";
    right: 39px;
    top: 60px;
}

.content-list li {
    margin-bottom: 1.5em;
}


.panel-href {
    display: block;
    height: 100%;
    width: 100%;
}
.panel-red-r {
    background: url("../images/panel-red-r.png") no-repeat;
    width: 368px;
    height: 62px;
}
.panel-blue-r {
    background: url("../images/panel-blue-r.png") no-repeat;
    width: 368px;
    height: 62px;
}
.panel-purple-r {
    background: url("../images/panel-purple-r.png") no-repeat;
    width: 368px;
    height: 62px;
}
.panel-green-r {
    background: url("../images/panel-green-r.png") no-repeat;
    width: 368px;
    height: 62px;
}
.panel-yellow-r {
    background: url("../images/panel-yellow-r.png") no-repeat;
    width: 368px;
    height: 62px;
}
.panel-grey-r {
    background: url("../images/panel-grey-r.png") no-repeat;
    width: 368px;
    height: 62px;
}
.panel-red {
    background: url("../images/panel-red.png") no-repeat;
    width: 368px;
    height: 62px;
}
.panel-blue {
    background: url("../images/panel-blue.png") no-repeat;
    width: 368px;
    height: 62px;
}
.panel-purple {
    background: url("../images/panel-purple.png") no-repeat;
    width: 368px;
    height: 62px;
}
#nav-panel {
    position: relative;
    top: 139px;
    z-index: 4;
    width: 0;
}
.pmo-panel {
    margin-bottom: 15px;
}
.pmo-panel span {
    color: #ffffff;
    font-size: 1.5em;
    position: relative;
}
.switch-panel {
    position: relative;
    cursor: pointer;
    left: -303px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.switch-panel:hover {
    left: -100px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.switch-panel span {
    float: right;
    padding-right: 70px;
    top: 50%;
    margin-top: -0.75em;
}
.panel-current {
    left: -180px;
}

.error-message-text {
    color: #e74c3c;
}
.controls-group {
    margin-left: 20px;
    margin-bottom: 20px;
}
.oneline-group {
    height: 35px;
    width: 531px;
}
.multiline-group {
    /*height: 110px;*/
    width: 531px;
}
.form-label {
    float: left;
    width: 77px;
    height: 26px;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    border: solid #5c92ef;
    border-width: 2px 0 2px 2px;
    background-color: #5c92ef;
    color: #ffffff;
    font-size: 1em;
}
.form-control  {
    border: 2px solid #5c92ef;
    padding: 5px;
    margin-left: -2px;
}
.form-image {
    width: 100px;
    height: 100px;
}
.form-text {
    height: 21px;
    width: 380px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
}
.form-small-text {
    width: 40px;
    text-align: center;
}
.form-textarea {
    height: 100px;
    width: 430px;
    resize: none;
    font-size: 14px;
}
.form-button {
    width: 89px;
    background-color: #e74c3c;
    border: 2px solid #e74c3c;
    color: #ffffff;
    font-size: 1em;
    margin: 0;
}
.form-button:hover {
    background-color: #ec7063;
}
.form-button:active {
    background-color: #dc2d1b;
}
.form-indent {
    margin-left: 87px;
}
.form-float {
    float: left;
}
.form-additional {
    padding-left: 10px;
    font-size: 14px;
    position: relative;
    top: -3px;
}
.clear-group::after {
    content: "";
    display: block;
    clear: both;
}
.button-submit {
    float: right;
    margin-left: 20px;
}
.button-mleft {
    margin-left: 20px;
}
.upload-button {
    position: relative;
    overflow: hidden;
}
.upload-input {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    font-size: 300px;
    height: 100%;
    width: 100%;
}
.oneline-select {
    height: 21px;
    width: 330px;
    background-color: #ffffff;
    padding: 5px 55px;
}
.captcha-box {
    height: 31px;
    width: 440px;
    margin-left: 87px;
    background-color: #ffffff;
    padding: 0;
}
.captcha-box #id_captcha_1 {
    border: 0;
    padding: 5px;
    height: 21px;
    width: 130px;
}
.controls-group img{
    display: block;
    float: left;
}
.button-submitting, .button-submitting:hover {
    background: #838ba3;
    border-color: #838ba3;
}

.items-table {
    width: 531px;
    border-collapse: collapse;
    table-layout: fixed;
}
.items-table tr {
    height: 31px;
    margin: 0;
}
.items-table th {
    border: 2px solid #5c92ef;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    background-color: #5c92ef;
    color: #ffffff;
    font-size: 1em;
}
.items-table th.first-head {
    border-left-color: #5c92ef;
}
.items-table th.last-head {
    border-right-color: #5c92ef;
}
.items-table td {
    border: 2px solid #5c92ef;
    background-color: #ffffff;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.images-preview {
    float: left;
    width: 440px;
    height: 248px;
}
.image-preview {
    float: left;
    margin-right: 22px;
    width: 120px;
    height: 100px;
    background: no-repeat center;
    background-size: contain;
}
.image-preview:nth-child(3) {
    margin-bottom: 20px;
}
.image-preview:nth-child(3), .image-preview:nth-child(6) {
    margin-right: 0;
}
.image-method {
    display: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: 50%;
    top: -21px;
}
.image-method::before {
    content: "添加图片";
}
.image-uploading .image-method::before {
    content: "上传中";
}
.image-uploaded .image-method::before {
    content: "删除图片";
}
.image-deleting .image-method::before {
    content: "删除中";
}
.image-uploading .upload-input, .image-uploaded .upload-input, .image-deleting .upload-input {
    display: none;
}
.image-preview:hover .image-method {
    display: block;
}
.image-method:hover {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #e4f190;
}
.image-uploading .image-method {
    display: block;
}
.image-uploading .image-method:hover {
    cursor: auto;
    background-color: transparent;
}
.image-tag {
    position: absolute;
}


.inline-control {
    float: left;
    color: #355487;
    text-align: center;

}
.inline-control-two {
    /*margin-left: 100px;*/
    width: 50%;
}
.inline-control-three {
    /*margin-left: 40px;*/
    width: 33.3%;
}

.button-small {
    font-size: 15px;
    width: 50px;
    height: 29px;
    padding: 0;
}

#item-numbers {
    width: 60px;
}
#item-names {
    width: 471px;
}
.item-number {
    text-align: center;
}
.item-delete {
    position: relative;
    display: block;
    opacity: 0;
    float: right;
    margin-right: 10px;
    padding: 0 5px;
    font-size: 14px;
    text-indent: 0;
}
.item-delete:hover {
    opacity: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.item-name {
    text-indent: 1em;
    cursor: pointer;
}
.item-name:hover {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #e4f190;
}

.input-area {
    position: relative;
}
#split-line {
    width: 100%;
    height: 2px;
    background: #6E5959;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}
#message-nav {
    margin-bottom: 20px;
}
.comment-box {
    width: 100%;
    min-height: 115px;
    border-top: 2px solid #6e5959;
    background-color: rgba(238, 244, 247, 0.7);
}
.comment-box-last {
    border-bottom: 2px solid #6e5959;
}
.comment-meta {
    height: 21px;
    padding: 5px 10px 0;
}
.comment-nickname {
    font-weight: bold;
}
.news-datetime, .comment-datetime {
    font-size: 14px;
    float: right;
    color: #838ba3;
}
.comment-content p {
    font-size: 15px;
    line-height: 1.25em;
    margin: 0;
    padding: 5px 30px 10px;
    text-indent: 0;
}
.backcomment-box {
    background-color: #f8e1a1;
    border-top: solid 1px rgba(2, 2, 2, 0.25);
}
.news-author {
    margin-left: 1em;
}


/* home */
#home-body {
    min-width: 1280px;
}
#home-header {
    position: relative;
    z-index: 1;
    width: 100%;
    min-width: 1280px;
    min-height: 56px;
    background: #ffffff;
}
#home-header-line {
    width: 100%;
    height: 4px;
    background-color: #f4d171;
    position: absolute;
    bottom: 10px;
}
#home-header-wb {
    position: absolute;
    right: 100px;
    bottom: -10px;
    background: url("../images/wb.png") no-repeat;
    width: 233px;
    height: 50px;
}

#home-footer {
    position: relative;
    z-index: 1;
    width: 100%;
    min-width: 1280px;
    min-height: 108px;
    margin-top: -15px;
}
.home-footer-part {
    position: absolute;
    height: 100%;
}
#home-footer-center {
    left: 50%;
    margin-left: -640px;
    min-width: 1280px;
}
#home-footer-center-top {
    background: url("../images/home-footer-center.png") center;
    height: 108px;
    width: 100%;
}
#home-footer-center-bottom {
    background: url("../images/home-footer-cbg.png");
    width: 100%;
    margin-top: -8px;
}
#home-footer-left {
    left: 0;
    background: url("../images/home-footer-lbg.png");
}
#home-footer-right {
    right: 0;
    background: url("../images/home-footer-rbg.png");
}
.home-footer-side {
    border-top: solid 5px #ebebeb;
}

#home-main-container {
    background: url("../images/bg.png");
    min-height: 506px;
    min-width: 1280px;
    width: 100%;
}
#home-content-bottom {
    position: relative;
    top: 325px;
    height: 191px;
    width: 100%;
}

#home-mascots {
    position: absolute;
    height: 100%;
    width: 100%;
}
.mascot {
    position: relative;
    z-index: 2;
    float: left;
}
#mascot-left {
    background: url("../images/as.gif") no-repeat;
    width: 115px;
    height: 191px;
    top: 2px;
    left: 82px;
}
#mascot-right {
    background: url("../images/or.gif") no-repeat;
    width: 225px;
    height: 202px;
    top: -10px;
    left: 893px;
}

#home-vote {
    position: relative;
    height: 58px;
    width: 884px;
    top: 148px;
    margin-left: auto;
    margin-right: auto;
}
.vote-area {
    height: 100%;
}
.vote-part {
    width: 388px;
}
.vote-href {
    cursor: pointer;
}
#vote-vs {
    position: absolute;
    background: url("../images/vs.png") no-repeat;
    width: 72px;
    height: 42px;
    left: 405px;
}
#vote-team-aq {
    position: absolute;
    left: 0;
}
#vote-team-mg {
    position: absolute;
    right: 0;
}
.vote-aq {
    float: right;
}
.vote-mg {
    float: left;
}
.vote-area span {
    margin-left: 5px;
    margin-right: 5px;
}
.vote-text {
    padding-top: 10px;
    font-size: 10px;
}
#vote-aq-href {
    background: url("../images/vote-aq.png") no-repeat;
    width: 105px;
    height: 28px;
}
#vote-mg-href {
    background: url("../images/vote-mg.png") no-repeat;
    width: 108px;
    height: 32px;
    margin-top: -2px;
}
.vote-bar {
    position: relative;
    height: 17px;
    width: 381px;
    border: solid 3px #434343;
    border-radius: 9px;
    background: -moz-linear-gradient(top, #7d797a, #dddcdc, #e9e9e9);
    background: -webkit-linear-gradient(top, #7d797a, #dddcdc, #e9e9e9);
    background: linear-gradient(to bottom, #7d797a, #dddcdc, #e9e9e9);
}
#vote-aq-bar {
    top: 5px;
}
#vote-mg-bar {
    top: 3px;
}
#vote-aq-bar-content {
    float: right;
    background: url('../images/bar-aq.png') no-repeat right;
    min-width: 2%;
    height: 17px;
}
#vote-mg-bar-content {
    background: url('../images/bar-mg.png') no-repeat;
    min-width: 2%;
    height: 17px;
}

#home-panels {
    z-index: 4;
    position: relative;
    top: 45px;
    float: right;
    width: 284px;
    overflow: hidden;
}
.home-panel {

}
.home-panel span{
    left: 30px;
    top: 22px;
}
#home-content {
    /*position: relative;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    position: absolute;
    z-index: 3;
    width: 1280px;
    height: 506px;
}

#home-content-tv {
    position: absolute;
    background: url("../images/tv-bg.png") no-repeat;
    width: 701px;
    height: 456px;
    left: 289px;
    top: 16px;
}
#tv-title {
    position: absolute;
    z-index: 5;
    top: -31px;
    left: -3px;
    background: url("../images/tv-title.png") no-repeat;
    width: 371px;
    height: 68px;
}
#tv-off {
    position: absolute;
    z-index: 4;
    top: 5px;
    left: 5px;
    background: url("../images/tv-off.png") no-repeat;
    width: 682px;
    height: 435px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
#tv-ins {
    position: absolute;
    z-index: 3;
    top: 16px;
    left: 580px;
    background: url("../images/tv-ins.png") no-repeat;
    width: 73px;
    height: 74px;
}
#tv-dialog {
    position: absolute;
    z-index: 2;
    top: 17px;
    left: 5px;
    background: url("../images/tv-dialog.png") no-repeat;
    width: 682px;
    height: 422px;
}
#tv-nise-hostess {
    position: absolute;
    top: 82px;
    left: 371px;
    width: 269px;
    height: 260px;
}

#tv-hostess {
    position: relative;
    z-index: 1;
}
.hostess {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.izumi {
    position: absolute;
    top: 84px;
    left: 371px;
    width: 269px;
    height: 242px;
}
#mouth-izumi {
    background: url("../images/izumi-o.png") no-repeat;
}
#hostess-izumi {
    background: url("../images/izumi-c.png") no-repeat;
}
.kagari {
    position: absolute;
    top: 82px;
    left: 392px;
    width: 220px;
    height: 260px;
}
#mouth-kagari {
    background: url("../images/kagari-o.png") no-repeat;
}
#hostess-kagari {
    background: url("../images/kagari-c.png") no-repeat;
}

#tv-section {
    position: absolute;
    z-index: 3;
    top: 104px;
    left: 95px;
    height: 120px;
    width: 240px;
}
.tv-section-text {
    cursor: pointer;
    float: left;
    width: 120px;
    height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tv-section-text:hover{
    background: #aedff1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.tv-section-text span {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 4px #ffffff;
    width: 100%;
    padding-left: 10px;
    top: 6px;
}
.tv-section-text span::before {
    content: "· ";
}
.tv-icon {
    position: absolute;
    z-index: 1;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
#tv-icon-izumi {
    background: url("../images/izumi-icon.png") no-repeat;
    width: 19px;
    height: 20px;
}
#tv-icon-kagari {
    background: url("../images/kagari-icon.png") no-repeat;
    width: 18px;
    height: 23px;
    margin-top: -2px;
}

#tv-selection {
    position: absolute;
    color: #ffffff;
    font-size: 18px;
    z-index: 3;
    top: 327px;
    left: 60px;
    width: 540px;
    height: 60px;
}
#tv-selection a{
    display: block;
    float: left;
    width: 200px;
    height: 27px;
    font-size: 18px;
    color: white;
    padding-left: 20px;
    padding-top: 3px;
}
#tv-selection span {
    position: absolute;
    font-size: 18px;
    color: #ffffff;
    width: 90px;
    height: 24px;
    left: 380px;
    top: 33px;
}
#tv-selection a:hover {
    background: #444444;
}
#tv-selection a::before {
    content: "· "
}
#tv-selection-end {
    position: absolute;
    z-index: 3;
    top: 47px;
    left: 535px;
    background: url("../images/ends.png") no-repeat;
    width: 28px;
    height: 13px;
    animation:updown 0.2s infinite;
    -moz-animation:updown 0.2s infinite;
    -webkit-animation:updown 0.2s infinite;
    -o-animation:updown 0.2s infinite;
}
@keyframes updown
{
from {top: 47px;}
to {top: 50px;}
}
@-moz-keyframes updown
{
from {top: 47px;}
to {top: 50px;}
}
@-webkit-keyframes updown
{
from {top: 47px;}
to {top: 50px;}
}
@-o-keyframes updown
{
from {top: 47px;}
to {top: 50px;}
}
#tv-sentence {
    position: absolute;
    top: 44px;
    left: 45px;
    width: 500px;
    height: 20px;
    text-overflow: clip;
    color: #ffffff;
    text-shadow: 0 0 2px #000000;
    font-size: 17px;
}

.news-title {
    margin: 1em 0 0;
}
.news-title a {
    color: inherit;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #e4f190;
}
.news-meta {
    font-size: 14px;
}
.news-content {
    margin-top: 1em;
}
.news-content p {
    text-indent: 2em;
}